@charset "UTF-8";
@font-face {
  font-family: "josefinSans-Reular";
  src: url("../font/JosefinSans-Regular.ttf");
}
.header {
  font-family: "Nunito Sans", sans-serif;
}
.header .top-nav {
  border-bottom: 1px solid #dee2e6 !important;
  padding-top: 5px !important;
  padding-bottom: 5px !important;
}
.header .top-nav .left-content ul {
  list-style-type: none;
  padding-left: 0px;
}
.header .top-nav .left-content ul li {
  margin-right: 30px;
}
.header .top-nav .left-content ul li a {
  text-decoration: none;
  color: rgb(92, 114, 125);
  font-size: 14px;
  font-weight: 700;
}
.header .top-nav .left-content ul li a:hover {
  color: #0a9a73;
  transition: 1s;
}
.header .top-nav .left-content ul li a i {
  font-size: 14px;
  color: #0a9a73;
  margin-right: 5px;
}
.header .top-nav .right-content ul {
  list-style-type: none;
}
.header .top-nav .right-content ul li .dropdown1 .dropdown-toggle {
  text-decoration: none;
  color: black;
  font-size: 14px;
  font-weight: 700;
}
.header .top-nav .right-content ul li .dropdown1 .dropdown-toggle:hover {
  color: #0a9a73;
  transition: 1s;
}
.header .top-nav .right-content ul li .dropdown1 .dropdown-toggle::after {
  border: none;
  content: "\f063";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 2px;
  font-size: 14px;
  color: #0a9a73;
}
.header .top-nav .right-content ul li .dropdown1:hover .dropdown-menu1 {
  display: block;
}
.header .top-nav .right-content ul li .dropdown1 .dropdown-menu1 {
  display: none;
  border: none;
}
.header .top-nav .right-content ul li .dropdown1 .dropdown-menu1 .dropdown-item {
  background-color: transparent;
}
.header .top-nav .right-content ul li .dropdown1 .dropdown-menu1 .dropdown-item:hover {
  color: #0a9a73;
}
.header .top-nav .right-content .icons li a {
  color: rgb(92, 114, 125);
}
.header .top-nav .right-content .icons li a i {
  font-weight: 700;
  font-size: 14px;
}
.header .top-nav .right-content .icons li a:hover {
  color: #0a9a73;
  transition: 1s;
}
@media (max-width: 576px) {
  .header .right-content {
    text-align: center !important;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .header .media {
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.header .center-nav {
  padding: 30px 0px;
}
.header .center-nav .search-phone .icon-info {
  margin-right: 10px;
}
.header .center-nav .search-phone .icon-info .icon {
  width: 35px;
  font-weight: 400;
  color: #dee2e6;
}
.header .center-nav .search-phone .icon-info .phone-number {
  width: 109px;
}
.header .center-nav .search-phone .icon-info .phone-number h6 {
  color: rgb(92, 114, 125);
  font-size: 15px;
  font-weight: 600;
}
.header .center-nav .search-phone .icon-info .phone-number a {
  text-decoration: none;
  color: rgb(92, 114, 125);
  font-family: "josefinSans-Regular";
  font-size: 15px;
  font-weight: 600;
}
.header .center-nav .search-phone .icon-info .phone-number a:hover {
  color: #0a9a73;
}
.header .center-nav .search-phone .search-input input {
  margin-bottom: 0;
  border: 0;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  border-radius: 50px;
  padding-left: 20px;
  padding-right: 50px;
  height: 45px;
  width: 470px;
}
.header .center-nav .search-phone .search-input input::-moz-placeholder {
  color: #5c727d;
}
.header .center-nav .search-phone .search-input input:-ms-input-placeholder {
  color: #5c727d;
}
.header .center-nav .search-phone .search-input input::placeholder {
  color: #5c727d;
}
.header .center-nav .search-phone .search-input input:focus {
  outline: 1px solid #0a9a73;
  box-shadow: none;
}
.header .center-nav .search-phone .search-input i {
  top: 35%;
  right: 8%;
  font-size: 14px;
}
.header .center-nav .center-nav-icon {
  display: flex;
  align-items: center;
  height: 100%;
  justify-content: end;
}
.header .center-nav .center-nav-icon .user1 {
  width: 20px;
  margin-right: 25px;
}
.header .center-nav .center-nav-icon .shoping1 {
  width: 20px;
  margin-right: 25px;
}
.header .center-nav .center-nav-icon .shoping1 .badge {
  background-color: #0a9a73;
  border-radius: 50%;
  font-size: 12px;
  height: 20px;
  width: 20px;
  left: 15px;
  top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header .center-nav .center-nav-icon .price1 {
  margin-right: 15px;
}
.header .center-nav .center-nav-icon .price1 span {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.header .center-nav .center-nav-icon .price1 p {
  font-size: 14px;
  color: #0a9a73;
  font-weight: 700;
}
@media (max-width: 576px) {
  .header .center-nav .search-input {
    margin-top: 10px;
  }
  .header .center-nav .icon-info {
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .header .center-nav .search-phone {
    display: block !important;
  }
  .header .center-nav .search-input input {
    width: 100% !important;
  }
  .header .center-nav .center-nav-icon {
    justify-content: center !important;
    margin-top: 10px;
  }
}
@media (min-width: 769px) and (max-width: 991.5px) {
  .header .center-nav .search-phone {
    display: block !important;
  }
  .header .center-nav .center-nav-icon {
    height: 50% !important;
  }
  .header .center-nav .search-input input {
    margin-top: 20px;
  }
  .header .center-nav .search-input i {
    top: 54% !important;
    right: -69% !important;
    font-size: 14px !important;
  }
}
.header .last-nav {
  font-family: "Nunito Sans", sans-serif;
  background-color: #0a9a73;
}
.header .last-nav .dropdown-toggle::after {
  border: none;
  content: "+";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  top: 28px;
  font-size: 10px;
  color: white;
}
.header .last-nav .dropdown2 {
  padding-top: 15px;
  padding-bottom: 15px;
}
.header .last-nav .dropdown2 .dropdown-toggle {
  font-size: 16px;
  font-weight: 700;
}
.header .last-nav .dropdown2 .dropdown-menu2 {
  border-top: 4px solid #0a9a73 !important;
  top: 68px;
  display: none;
}
.header .last-nav .dropdown2 .dropdown-menu2 .dropdown-item {
  background-color: transparent;
  color: rgb(92, 114, 125);
  font-size: 16px;
  font-weight: 400;
}
.header .last-nav .dropdown2 .dropdown-menu2 .dropdown-item:hover {
  transition: 1s;
  color: #0a9a73;
}
.header .last-nav .dropdown2:hover .dropdown-menu2 {
  display: block;
}
.header .last-nav .drop-menu-page {
  padding: 10px;
  width: 850px;
  left: -500px;
}
.header .last-nav .drop-menu-page .image-div {
  padding: 10px;
  background-color: #dee2e6;
}
.header .last-nav .drop-menu-page .inner-page {
  background-color: #F2F6F7 !important;
  font-weight: 700 !important;
  border-bottom: 1px dashed #ddd;
}
.header .last-nav .drop-menu-page .dropdown-item {
  line-height: 30px;
}
@media (max-width: 576px) {
  .header .last-nav .dropdown-toggle {
    font-size: 14px !important;
  }
  .header .last-nav .dropdown-menu {
    left: 75px;
    top: 41px !important;
  }
  .header .last-nav .dropdown-toggle::after {
    border: none;
    content: "+";
    font-family: "Font Awesome 5 Free";
    display: inline-block;
    font-weight: 700;
    position: absolute;
    top: 25px;
    font-size: 10px;
    color: white;
  }
  .header .last-nav .drop-menu-page {
    width: 230px !important;
    left: 23px !important;
  }
  .header .last-nav .media-query {
    display: inline-block !important;
  }
}
@media (min-width: 576.5px) and (max-width: 768px) {
  .header .last-nav .drop-menu-page {
    width: 730px;
    left: -440px;
  }
}

.cateogry {
  margin-top: 30px !important;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 40px !important;
}
.cateogry .accordion-button-category {
  background-color: #0a9a73 !important;
  border-radius: 0px !important;
}
.cateogry .accordion-button-category::after {
  background-image: none !important;
  content: "\f04b";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  position: absolute;
  left: 90%;
  top: 9px;
  font-size: 11px;
  transform: rotate(-149deg);
}
.cateogry .accordion-body-cateogry {
  border-radius: 0px !important;
  font-size: 16px;
}
.cateogry .accordion-body-cateogry .border-botttom {
  border-bottom: 1px solid #ddd;
}
.cateogry .accordion-body-cateogry .dropdown-category .dropdown-toggle-category {
  font-size: 15px;
  color: rgb(92, 114, 125);
  font-weight: 400;
}
.cateogry .accordion-body-cateogry .dropdown-category .dropdown-toggle-category i {
  font-size: 18px;
  color: rgb(92, 114, 125);
}
.cateogry .accordion-body-cateogry .dropdown-category .dropdown-toggle-category::after {
  display: none !important;
}
.cateogry .accordion-body-cateogry .dropdown-category:hover {
  background-color: #e7f7f2;
  color: #0a9a73;
  font-weight: 700 !important;
}
.cateogry .accordion-body-cateogry .dropdown-category:hover i {
  color: #0a9a73;
  font-weight: 700 !important;
}
.cateogry .accordion-body-cateogry .dropdown-category:hover .dropdown-toggle-category {
  color: #0a9a73;
  font-weight: 700;
}
.cateogry .accordion-body-cateogry .dropdown-category:hover .dropdown-menu-category {
  display: block;
}
.cateogry .accordion-body-cateogry .dropdown-menu-category {
  position: absolute;
  display: none;
  left: 355px !important;
  top: 30px;
  width: 655px;
}
.cateogry .accordion-body-cateogry .dropdown-menu-category .dropdown-item-heading {
  font-size: 14px !important;
  font-weight: 700;
  color: rgb(92, 114, 125);
  border-bottom: 1px solid #ddd !important;
}
.cateogry .accordion-body-cateogry .dropdown-menu-category .dropdown-item-heading:hover {
  background-color: transparent;
  color: #0a9a73;
  transition: 1s;
}
.cateogry .accordion-body-cateogry .dropdown-menu-category .dropdown-item {
  padding-left: 0px !important;
  line-height: 35px;
  font-size: 14px;
  color: rgb(92, 114, 125);
}
.cateogry .accordion-body-cateogry .dropdown-menu-category .dropdown-item:hover {
  background-color: transparent !important;
  color: #0a9a73;
  transition: 1s;
}
@media (max-width: 576px) {
  .cateogry .accordion-body-cateogry .dropdown-menu-category {
    left: 64px !important;
    width: 226px;
    top: 40px;
  }
}
@media (min-width: 576.5px) and (max-width: 768px) {
  .cateogry .accordion-body-cateogry .dropdown-menu-category {
    left: 64px !important;
    width: 630px;
    top: 40px;
  }
}
@media (min-width: 769px) and (max-width: 1024px) {
  .cateogry .accordion-body-cateogry .dropdown-menu-category {
    left: 295px !important;
    top: 11px;
  }
}
.cateogry .slick {
  background-image: url("../images/61.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cateogry .slick .silder-content {
  padding: 40px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.cateogry .slick .silder-content h4 {
  color: #0a9a73;
  font-size: 20px;
  font-family: "josefinSans-Regular";
  font-weight: 700;
}
.cateogry .slick .silder-content h1 {
  font-size: 38px;
  font-family: "josefinSans-Regular";
  font-weight: 700;
}
.cateogry .slick .silder-content .orange-text {
  color: rgb(255, 165, 0);
  font-size: 20px;
  font-family: "josefinSans-Regular";
  font-weight: 700;
}
.cateogry .slick .silder-content .shop {
  width: 130px;
  height: 50px;
  background-color: #0a9a73;
  margin-top: 30px;
  border-top: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.cateogry .slick .silder-content .shop a {
  text-decoration: none;
  color: white;
}
.cateogry .slick .silder-content .shop:hover {
  background-color: white;
  border-top: 2px solid #071c1f;
  border-left: 1px solid #071c1f;
  border-right: 1px solid #071c1f;
  border-bottom: 1px solid #071c1f;
  color: #071c1f;
  transition: all ease 1s;
}
.cateogry .slick .silder-content .shop:hover a {
  color: #071c1f;
}
.cateogry .slick1 {
  background-image: url("../images/62.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.cateogry .slick1 .silder-content {
  padding: 40px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.cateogry .slick1 .silder-content h4 {
  color: #0a9a73;
  font-size: 20px;
  font-family: "josefinSans-Regular";
  font-weight: 700;
}
.cateogry .slick1 .silder-content h1 {
  font-size: 38px;
  font-family: "josefinSans-Regular";
  font-weight: 700;
}
.cateogry .slick1 .silder-content .orange-text {
  color: rgb(255, 165, 0);
  font-size: 20px;
  font-family: "josefinSans-Regular";
  font-weight: 700;
}
.cateogry .slick1 .silder-content .shop {
  width: 130px;
  height: 50px;
  background-color: #0a9a73;
  margin-top: 30px;
}
.cateogry .slick1 .silder-content .shop a {
  text-decoration: none;
  color: white;
}
.cateogry .slick1 .silder-content .shop:hover {
  background-color: white;
  border-top: 2px solid #071c1f;
  border-left: 1px solid #071c1f;
  border-right: 1px solid #071c1f;
  border-bottom: 1px solid #071c1f;
  color: #071c1f;
  transition: all ease 1s;
}
.cateogry .slick1 .silder-content .shop:hover a {
  color: #071c1f;
}
.cateogry .slick-dots li.slick-active button:before {
  opacity: 0.75;
  color: #0a9a73;
  font-size: 14px !important;
}
.cateogry .slick-dots li button:before {
  font-family: slick;
  font-size: 12px;
  line-height: 20px;
  position: absolute;
  top: -80px;
  left: 0;
  width: 20px;
  height: 20px;
  content: "•";
  text-align: center;
  opacity: 0.25;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icons-section {
  margin-bottom: 70px;
}
.icons-section .icon-box {
  background-color: rgb(242, 246, 247);
  border: 1px solid #e5eaee;
  padding: 10px;
}
.icons-section .icon-box .icon-width {
  width: 60px;
}
.icons-section .icon-box .icon-content h4 {
  font-family: "josefinSans-Regular";
  font-size: 20px;
  font-weight: 700;
}
.icons-section .icon-box .icon-content p {
  color: rgb(92, 114, 125);
  font-size: 15px;
  font-weight: 400;
}

.our-products {
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 50px;
}
.our-products .product-content {
  margin-bottom: 40px;
}
.our-products .product-content h1 {
  font-weight: 700;
  font-size: 44px;
}
.our-products .product-content p {
  font-size: 16px;
  color: #5c727d;
}
.our-products .nav-item {
  margin-left: 15px;
  margin-right: 15px;
  position: relative;
  margin-bottom: 50px;
}
.our-products .nav-item .nav-link {
  background-color: transparent !important;
  color: #000;
  border-radius: 0px;
  font-size: 16px;
  font-weight: 700;
}
.our-products .nav-item .nav-link.active {
  color: #0a9a73;
  border-bottom: 2px solid #0a9a73;
}
.our-products .nav-item1::after {
  content: "|";
  position: absolute;
  left: 126px;
  top: 10px;
  color: rgb(203, 216, 223);
}
.our-products .nav-item2::after {
  content: "|";
  position: absolute;
  left: 125px;
  top: 10px;
  color: rgb(203, 216, 223);
}
.our-products .nav-item3::after {
  content: "|";
  position: absolute;
  left: 125px;
  top: 10px;
  color: rgb(203, 216, 223);
}
.our-products .nav-item4::after {
  content: "|";
  position: absolute;
  left: 150px;
  top: 10px;
  color: rgb(203, 216, 223);
}
.our-products .card-border {
  border: 2px solid #f6f6f6;
}
.our-products .card-border .stars-products {
  font-size: 12px;
  color: #ffb800;
  margin-bottom: 5px;
}
.our-products .card-border .stars-products i:hover {
  color: #0a9a73;
}
.our-products .card-border .stars-products span {
  font-size: 12px;
  color: #ffb800;
}
.our-products .card-border .stars-products span:hover {
  color: #0a9a73;
}
.our-products .card-border .product-tittle {
  font-family: "josefinSans-Regular";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.our-products .card-border .product-tittle a {
  text-decoration: none;
  color: #000;
}
.our-products .card-border .product-tittle a:hover {
  color: #0a9a73;
}
.our-products .card-border .product-price {
  color: #0a9a73;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.our-products .card-border .product-price ins {
  text-decoration: none;
}
.our-products .card-border .product-price del {
  font-size: 13px;
  color: #6CC2AB;
  font-weight: 700;
}
.our-products .card-border:hover {
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}
.our-products .card-border .badge {
  right: 15px;
  top: 15px;
  background-color: #0a9a73;
  color: white;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 14px;
  font-weight: bold;
}
.our-products .card-border .btn-eye {
  position: relative;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
}
.our-products .card-border .btn-eye i {
  color: rgb(92, 114, 125);
}
.our-products .card-border .btn-eye:hover {
  background-color: #0a9a73 !important;
}
.our-products .card-border .btn-eye:hover i {
  color: white;
}
.our-products .card-border .btn-shoping {
  position: relative;
  left: 0%;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
  border-left: 1px solid rgb(203, 216, 223);
}
.our-products .card-border .btn-shoping i {
  color: rgb(92, 114, 125);
}
.our-products .card-border .btn-shoping:hover {
  background-color: #0a9a73 !important;
}
.our-products .card-border .btn-shoping:hover i {
  color: white;
}
.our-products .card-border .btn-heart {
  position: relative;
  left: 0%;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
  border-left: 1px solid rgb(203, 216, 223);
}
.our-products .card-border .btn-heart i {
  color: rgb(92, 114, 125);
}
.our-products .card-border .btn-heart:hover {
  background-color: #0a9a73 !important;
}
.our-products .card-border .btn-heart:hover i {
  color: white;
}
.our-products .card-border .btn-position {
  top: -60px !important;
}
.our-products .card-border .btn-hover {
  display: none !important;
}
.our-products .card-border:hover .btn-hover {
  display: flex !important;
}
.our-products .card-border .modal-header {
  border-bottom: transparent !important;
}
.our-products .card-border .modal-footer {
  border-top: transparent !important;
}
.our-products .card-border .custom-modal-content h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: "josefinSans-Regular";
  margin-bottom: 15px;
}
.our-products .card-border .custom-modal-content h5 a {
  text-decoration: none;
  color: #000;
}
.our-products .card-border .cart {
  margin-bottom: 15px;
}
.our-products .card-border .cart i {
  color: #0a9a73;
}
.our-products .card-border .cart span {
  color: rgb(92, 114, 125);
  font-size: 16px;
  font-weight: 600;
}
.our-products .card-border .cart-button {
  font-family: "josefinSans-Regular";
}
.our-products .card-border .cart-button .btn-view {
  background-color: #0a9a73;
  color: white;
  border-top: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.our-products .card-border .cart-button .btn-view:hover {
  transition: 1s;
  background-color: white;
  border-top: 2px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
}
.our-products .card-border .cart-button .btn-checkout {
  background-color: #000;
  color: white;
  border-top: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.our-products .card-border .cart-button .btn-checkout:hover {
  transition: 1s;
  background-color: white;
  border-top: 2px solid #0a9a73;
  border-left: 1px solid #0a9a73;
  border-right: 1px solid #0a9a73;
  border-bottom: 1px solid #0a9a73;
  color: #0a9a73;
}
.our-products .card-border .btn-close {
  background-color: #5c727d;
  border-radius: 0px !important;
}
.our-products .card-border .modal-stars {
  font-size: 12px;
  color: #ffb800;
  margin-bottom: 10px;
}
.our-products .card-border .modal-stars i:hover {
  color: #0a9a73;
}
.our-products .card-border .modal-stars span {
  color: #ffb800;
  font-size: 12px;
}
.our-products .card-border .modal-stars span:hover {
  color: #0a9a73;
}
.our-products .card-border .digital {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.our-products .card-border .product-price1 {
  margin-bottom: 10px;
}
.our-products .card-border .product-price1 .price1 {
  color: #0a9a73;
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
}
.our-products .card-border .product-price1 del {
  color: #6CC2AB;
  font-size: 30px;
  font-weight: 600;
}
.our-products .card-border .modal-cateogry {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e1e6ff;
  border-bottom: 1px solid #e1e6ff;
  margin-bottom: 10px;
}
.our-products .card-border .modal-cateogry ul {
  list-style: none;
}
.our-products .card-border .modal-cateogry ul li {
  font-weight: 400;
  font-size: 14px;
}
.our-products .card-border .modal-cateogry ul li span {
  font-size: 16px;
  padding-left: 5px;
}
.our-products .card-border .modal-cateogry ul li span a {
  font-weight: 600;
  color: rgb(92, 114, 125);
  text-decoration: none;
}
.our-products .card-border .plus-minus ul {
  list-style: none;
}
.our-products .card-border .plus-minus ul li {
  display: inline-block;
}
.our-products .card-border .plus-minus ul li .sub {
  border: 2px solid #dee2e6;
  border-radius: 0px;
  height: 40px;
  box-shadow: none;
}
.our-products .card-border .plus-minus ul li .add {
  border: 2px solid #dee2e6;
  box-shadow: none;
  border-radius: 0px;
  height: 40px;
}
.our-products .card-border .plus-minus ul li input {
  height: 40px;
  width: 50px;
  border-radius: 0px;
  border: 2px solid #dee2e6;
  text-align: center;
}
.our-products .card-border .plus-minus ul li input:focus {
  outline: none;
}
.our-products .card-border .plus-minus ul li .cart-button {
  margin-left: 15px;
  height: 40px;
  width: 180px;
  padding: 5px;
  background-color: #0a9a73;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.our-products .card-border .plus-minus ul li .cart-button a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.our-products .card-border .plus-minus ul li .cart-button:hover {
  background-color: white;
  border-top: 1px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}
.our-products .card-border .plus-minus ul li .cart-button:hover a {
  color: #000;
}
.our-products .card-border .plus-minus .whislists i {
  font-size: 14px;
  color: rgb(92, 114, 125);
}
.our-products .card-border .plus-minus .whislists span {
  font-size: 14px;
  color: rgb(92, 114, 125);
  font-weight: 600;
}
.our-products .card-border .plus-minus .whislists span:hover {
  color: #0a9a73;
}
.our-products .card-border .plus-minus hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(198, 213, 221);
  height: 2px;
}
.our-products .card-border .plus-minus .social-meadia-icons ul {
  list-style: none;
}
.our-products .card-border .plus-minus .social-meadia-icons ul li {
  font-size: 16px;
  color: rgb(92, 114, 125);
  display: inline-block;
  font-weight: 400;
  margin-left: 10px;
}
.our-products .card-border .plus-minus .social-meadia-icons ul li i {
  font-size: 14px;
}
.our-products .card-border .plus-minus .social-meadia-icons ul li i:hover {
  color: #0a9a73;
}
@media (max-width: 576px) {
  .our-products .modal-stars {
    margin-top: 10px !important;
  }
  .our-products .nav-item {
    margin-left: 8px;
    margin-right: 8px;
  }
  .our-products .nav-item:after {
    left: 117px;
    top: 10px;
  }
  .our-products .nav-item2:after {
    left: 88px;
    top: 10px;
  }
  .our-products .nav-item3:after {
    left: 113px;
    top: 10px;
  }
  .our-products .nav-item4:after {
    left: 106px;
    top: 10px;
  }
  .our-products .nav-link {
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  .our-products .cart-button {
    margin-left: 0px !important;
    margin-top: 10px;
  }
  .our-products .whish1 span {
    font-size: 10px !important;
  }
  .our-products .whish2 {
    margin-left: 1rem !important;
  }
  .our-products .nav-item {
    margin-left: 7px;
    margin-right: 7px;
  }
}

.offer {
  background-image: url("../images/27.jpg");
  background-position: center;
  background-size: cover;
  font-family: "Nunito Sans", sans-serif;
  margin-bottom: 70px;
  padding-top: 150px;
  padding-bottom: 150px;
}
.offer .offer-content .todayoffer {
  font-family: "josefinSans-Regular";
  font-size: 16px;
  font-weight: 700;
  color: #0a9a73;
}
.offer .offer-content h1 {
  font-family: "josefinSans-Regular";
  font-size: 44px;
  font-weight: 700;
  line-height: 1.3;
}
.offer .offer-content p {
  color: #5c727d;
  font-size: 16px;
  font-weight: 400;
}
.offer .offer-content ul {
  padding-left: 0px;
}
.offer .offer-content li {
  display: inline-block;
  font-size: 16px;
  list-style-type: none;
  text-transform: uppercase;
  text-align: center;
  padding: 10px;
  color: #5c727d;
}
.offer .offer-content li span {
  display: block;
  font-size: 24px;
  font-weight: bold;
  background-color: white;
  color: #0a9a73;
  text-align: center;
  margin-bottom: 12px;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media all and (max-width: 768px) {
  .offer .offer-content h1 {
    font-size: calc(1.5rem * var(--smaller));
  }
  .offer .offer-content li {
    font-size: calc(1.125rem * var(--smaller));
  }
  .offer .offer-content li span {
    font-size: calc(3.375rem * var(--smaller));
  }
  .offer .offer-content li span {
    display: block;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    color: #0a9a73;
    text-align: center;
    margin-bottom: 12px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media (min-width: 768.5px) and (max-width: 1024px) {
  .offer .offer-content li span {
    display: block;
    font-size: 24px;
    font-weight: bold;
    background-color: white;
    color: #0a9a73;
    text-align: center;
    margin-bottom: 12px;
    padding-left: 20px !important;
    padding-right: 20px !important;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.offer .offer-content .offer-button {
  margin-top: 60px;
}
.offer .offer-content .offer-button .shop-now {
  text-decoration: none;
  color: white;
  background-color: #0a9a73;
  padding: 15px;
  font-size: 16px;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-bottom: 1px solid transparent;
}
.offer .offer-content .offer-button .shop-now:hover {
  border: 2px solid #000;
  border-bottom: 1px solid #000;
  background-position: left bottom;
  color: #000;
  transition: 1s;
  background: linear-gradient(to right, black 50%, white 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.offer .offer-content .offer-button a {
  color: #0a9a73;
  font-size: 18px;
  margin-left: 10px;
}

.selling-products {
  margin-bottom: 100px;
}
.selling-products .section-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.3;
  font-family: "josefinSans-Regular";
}
.selling-products .card-border {
  border: 2px solid #f6f6f6;
}
.selling-products .card-border .stars {
  color: #ffb800;
  font-size: 12px;
}
.selling-products .card-border .stars i:hover {
  color: #0a9a73;
}
.selling-products .card-border .stars span:hover {
  color: #0a9a73;
}
.selling-products .card-border .product-tittle {
  font-family: "josefinSans-Regular";
}
.selling-products .card-border .product-tittle a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 700;
  line-height: 10px;
}
.selling-products .card-border .product-tittle a:hover {
  color: #0a9a73;
}
.selling-products .card-border .product-price {
  margin-bottom: 15px;
}
.selling-products .card-border .product-price ins {
  text-decoration: none !important;
  font-size: 14px;
  font-weight: 700;
  color: #0a9a73;
}
.selling-products .card-border .product-price del {
  font-size: 13px;
  font-weight: 700;
  color: #6CC2AB;
}
.selling-products .card-border .badge {
  background-color: #0a9a73;
  color: white;
  font-size: 14px;
  font-weight: 700;
}
.selling-products .card-border .badge-position {
  top: 20px;
  right: 20px;
}
.selling-products .card-border:hover {
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}
.selling-products .card-border .btn-eye {
  position: relative;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
}
.selling-products .card-border .btn-eye i {
  color: rgb(92, 114, 125);
}
.selling-products .card-border .btn-eye:hover {
  background-color: #0a9a73 !important;
}
.selling-products .card-border .btn-eye:hover i {
  color: white;
}
.selling-products .card-border .btn-shoping {
  position: relative;
  left: 0%;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
  border-left: 1px solid rgb(203, 216, 223);
}
.selling-products .card-border .btn-shoping i {
  color: rgb(92, 114, 125);
}
.selling-products .card-border .btn-shoping:hover {
  background-color: #0a9a73 !important;
}
.selling-products .card-border .btn-shoping:hover i {
  color: white;
}
.selling-products .card-border .btn-heart {
  position: relative;
  left: 0%;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
  border-left: 1px solid rgb(203, 216, 223);
}
.selling-products .card-border .btn-heart i {
  color: rgb(92, 114, 125);
}
.selling-products .card-border .btn-heart:hover {
  background-color: #0a9a73 !important;
}
.selling-products .card-border .btn-heart:hover i {
  color: white;
}
.selling-products .card-border .btn-position {
  top: -60px !important;
}
.selling-products .card-border .btn-hover {
  display: none !important;
}
.selling-products .card-border:hover .btn-hover {
  display: flex !important;
}
.selling-products .card-border .modal-header {
  border-bottom: transparent !important;
}
.selling-products .card-border .modal-footer {
  border-top: transparent !important;
}
.selling-products .card-border .custom-modal-content h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: "josefinSans-Regular";
  margin-bottom: 15px;
}
.selling-products .card-border .custom-modal-content h5 a {
  text-decoration: none;
  color: #000;
}
.selling-products .card-border .cart {
  margin-bottom: 15px;
}
.selling-products .card-border .cart i {
  color: #0a9a73;
}
.selling-products .card-border .cart span {
  color: rgb(92, 114, 125);
  font-size: 16px;
  font-weight: 600;
}
.selling-products .card-border .cart-button {
  font-family: "josefinSans-Regular";
}
.selling-products .card-border .cart-button .btn-view {
  background-color: #0a9a73;
  color: white;
  border-top: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.selling-products .card-border .cart-button .btn-view:hover {
  transition: 1s;
  background-color: white;
  border-top: 2px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
}
.selling-products .card-border .cart-button .btn-checkout {
  background-color: #000;
  color: white;
  border-top: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.selling-products .card-border .cart-button .btn-checkout:hover {
  transition: 1s;
  background-color: white;
  border-top: 2px solid #0a9a73;
  border-left: 1px solid #0a9a73;
  border-right: 1px solid #0a9a73;
  border-bottom: 1px solid #0a9a73;
  color: #0a9a73;
}
.selling-products .card-border .btn-close {
  background-color: #5c727d;
  border-radius: 0px !important;
}
.selling-products .card-border .modal-stars {
  font-size: 12px;
  color: #ffb800;
  margin-bottom: 10px;
}
.selling-products .card-border .modal-stars i:hover {
  color: #0a9a73;
}
.selling-products .card-border .modal-stars span {
  color: #ffb800;
  font-size: 12px;
}
.selling-products .card-border .modal-stars span:hover {
  color: #0a9a73;
}
.selling-products .card-border .digital {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.selling-products .card-border .product-price1 {
  margin-bottom: 10px;
}
.selling-products .card-border .product-price1 .price1 {
  color: #0a9a73;
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
}
.selling-products .card-border .product-price1 del {
  color: #6CC2AB;
  font-size: 30px;
  font-weight: 600;
}
.selling-products .card-border .modal-cateogry {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e1e6ff;
  border-bottom: 1px solid #e1e6ff;
  margin-bottom: 10px;
}
.selling-products .card-border .modal-cateogry ul {
  list-style: none;
}
.selling-products .card-border .modal-cateogry ul li {
  font-weight: 400;
  font-size: 14px;
}
.selling-products .card-border .modal-cateogry ul li span {
  font-size: 16px;
  padding-left: 5px;
}
.selling-products .card-border .modal-cateogry ul li span a {
  font-weight: 600;
  color: rgb(92, 114, 125);
  text-decoration: none;
}
.selling-products .card-border .plus-minus ul {
  list-style: none;
}
.selling-products .card-border .plus-minus ul li {
  display: inline-block;
}
.selling-products .card-border .plus-minus ul li .sub {
  border: 2px solid #dee2e6;
  border-radius: 0px;
  height: 40px;
  box-shadow: none;
}
.selling-products .card-border .plus-minus ul li .add {
  border: 2px solid #dee2e6;
  box-shadow: none;
  border-radius: 0px;
  height: 40px;
}
.selling-products .card-border .plus-minus ul li input {
  height: 40px;
  width: 50px;
  border-radius: 0px;
  border: 2px solid #dee2e6;
  text-align: center;
}
.selling-products .card-border .plus-minus ul li input:focus {
  outline: none;
}
.selling-products .card-border .plus-minus ul li .cart-button {
  margin-left: 15px;
  height: 40px;
  width: 180px;
  padding: 5px;
  background-color: #0a9a73;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.selling-products .card-border .plus-minus ul li .cart-button a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.selling-products .card-border .plus-minus ul li .cart-button:hover {
  background-color: white;
  border-top: 1px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}
.selling-products .card-border .plus-minus ul li .cart-button:hover a {
  color: #000;
}
.selling-products .card-border .plus-minus .whislists i {
  font-size: 14px;
  color: rgb(92, 114, 125);
}
.selling-products .card-border .plus-minus .whislists span {
  font-size: 14px;
  color: rgb(92, 114, 125);
  font-weight: 600;
}
.selling-products .card-border .plus-minus .whislists span:hover {
  color: #0a9a73;
}
.selling-products .card-border .plus-minus hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(198, 213, 221);
  height: 2px;
}
.selling-products .card-border .plus-minus .social-meadia-icons ul {
  list-style: none;
}
.selling-products .card-border .plus-minus .social-meadia-icons ul li {
  font-size: 16px;
  color: rgb(92, 114, 125);
  display: inline-block;
  font-weight: 400;
  margin-left: 10px;
}
.selling-products .card-border .plus-minus .social-meadia-icons ul li i {
  font-size: 14px;
}
.selling-products .card-border .plus-minus .social-meadia-icons ul li i:hover {
  color: #0a9a73;
}
@media (max-width: 576px) {
  .selling-products .modal-stars {
    margin-top: 10px !important;
  }
}
@media (max-width: 768px) {
  .selling-products .cart-button {
    margin-left: 0px !important;
    margin-top: 10px;
  }
  .selling-products .whish1 span {
    font-size: 10px !important;
  }
  .selling-products .whish2 {
    margin-left: 1rem !important;
  }
}

.feature-posts {
  background-color: #f2f6f7;
  padding-top: 90px;
  padding-bottom: 90px;
}
.feature-posts .section-title {
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
  line-height: 1.3;
  font-family: "josefinSans-Regular";
}
.feature-posts .feature-card {
  border: 2px solid #e5eaee;
}
.feature-posts .feature-card .stars-feature {
  font-size: 12px;
  color: #ffb800;
  line-height: 30px;
}
.feature-posts .feature-card .stars-feature i:hover {
  color: #0a9a73;
}
.feature-posts .feature-card .product-titlle {
  font-family: "josefinSans-Regular";
}
.feature-posts .feature-card .product-titlle a {
  font-size: 16px;
  font-weight: 700;
  text-decoration: none;
  color: #000;
}
.feature-posts .feature-card .product-titlle a:hover {
  color: #0a9a73;
}
.feature-posts .feature-card .product-price ins {
  color: #0a9a73;
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}
.feature-posts .feature-card .product-price del {
  color: #6CC2AB;
  font-size: 14px;
  font-weight: 500;
}
.feature-posts .feature-card:hover {
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 2px solid transparent;
}
@media (max-width: 768px) {
  .feature-posts .media-display {
    display: block !important;
  }
  .feature-posts .stars-feature {
    text-align: center;
    margin-top: 10px;
  }
  .feature-posts .product-titlle {
    text-align: center;
  }
  .feature-posts .product-price {
    text-align: center;
  }
}

.video {
  position: relative;
  z-index: 1;
  top: 100px;
}
.video .bg-image {
  background-image: url("../images/15.jpg");
  background-position: center center;
  background-size: cover;
  height: 600px;
}
.video .play-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.video .play-button a {
  outline-offset: 15px;
  outline: 4px solid #e4ecf2;
  margin: 20px;
  background-color: white;
  height: 80px;
  width: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}
.video .play-button a i {
  color: #0a9a73;
}
.video .play-button a:hover {
  outline: 4px solid #0A9A73;
}

.testmonial {
  padding-top: 200px;
  padding-bottom: 140px;
  background-color: #F2F6F7;
  position: relative;
  margin-bottom: 70px;
}
.testmonial .testmonial-content {
  margin-bottom: 40px;
  font-family: "josefinSans-Regular";
}
.testmonial .testmonial-content h6 {
  font-size: 16px;
  color: #0a9a73;
  font-weight: 600;
}
.testmonial .testmonial-content h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.3;
}
.testmonial .testmonial-content span {
  font-size: 10px;
  color: #0a9a73;
  margin-left: 5px;
}
.testmonial .testmonial-shadow {
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) !important;
  padding: 40px !important;
}
.testmonial .testmonial-shadow .testmonial-info {
  position: relative !important;
  z-index: 9999 !important;
}
.testmonial .testmonial-shadow .testmonial-info .testmonial-para {
  font-size: 14px;
  font-weight: 400;
  color: rgb(92, 114, 125);
}
.testmonial .testmonial-shadow .testmonial-info h4 {
  font-family: "josefinSans-Regular";
  font-size: 18px;
  font-weight: 700;
  color: #000;
}
.testmonial .testmonial-shadow .testmonial-info h6 {
  font-family: "josefinSans-Regular";
  font-size: 16px;
  font-weight: 700;
  color: #0a9a73;
}
.testmonial .testmonial-shadow .testmonial-info .cmnt {
  position: absolute;
  top: 55%;
  z-index: -1;
  left: 60%;
}
.testmonial .testmonial-shadow .testmonial-info .cmnt img {
  width: 180px;
  filter: grayscale(100%) !important;
  opacity: 0.1;
}
@media (max-width: 576px) {
  .testmonial .testmonial-shadow {
    padding: 10px !important;
  }
}

.blogs {
  margin-bottom: 70px;
  font-family: "Nunito Sans", sans-serif;
}
.blogs .blog-content {
  font-family: "josefinSans-Regular";
  margin-bottom: 40px;
}
.blogs .blog-content h6 {
  font-size: 16px;
  color: #0a9a73;
  font-weight: 600;
}
.blogs .blog-content h1 {
  font-size: 44px;
  font-weight: 700;
  margin-bottom: 15px;
  line-height: 1.3;
}
.blogs .card-hover {
  overflow: hidden;
  box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1) !important;
}
.blogs .card-hover .blog-image {
  overflow: hidden;
}
.blogs .card-hover .blog-image1 {
  transition: transform 2s;
}
.blogs .card-hover .blogcard-content {
  padding: 30px;
}
.blogs .card-hover .blogcard-content ul {
  list-style: none;
}
.blogs .card-hover .blogcard-content ul li {
  position: relative;
  display: inline-block;
  margin-right: 15px;
  font-size: 14px;
  font-weight: 600;
}
.blogs .card-hover .blogcard-content ul li a {
  text-decoration: none;
}
.blogs .card-hover .blogcard-content ul li a i {
  color: #0a9a73;
}
.blogs .card-hover .blogcard-content ul li a span {
  color: #5c727d;
}
.blogs .card-hover .blogcard-content ul li a span:hover {
  color: #0a9a73;
}
.blogs .card-hover .blogcard-content .main-tittle {
  margin-bottom: 20px;
  font-size: 22px;
  padding-bottom: 25px;
  font-weight: 600;
  border-bottom: 1px solid #e5eaee;
  font-family: "josefinSans-Reular";
}
.blogs .card-hover .blogcard-content .main-tittle a {
  text-decoration: none;
  color: #000;
}
.blogs .card-hover .blogcard-content .footer {
  display: flex;
  justify-content: space-between;
}
.blogs .card-hover .blogcard-content .footer .footer-left {
  font-family: "Nunito Sans", sans-serif;
}
.blogs .card-hover .blogcard-content .footer .footer-left ul li i {
  color: #0a9a73;
}
.blogs .card-hover .blogcard-content .footer .footer-left ul li span {
  color: #5c727d;
  font-size: 14px;
  font-weight: 700 !important;
}
.blogs .card-hover .blogcard-content .footer .footer-right {
  font-family: "Nunito Sans", sans-serif;
}
.blogs .card-hover .blogcard-content .footer .footer-right ul li a {
  font-size: 14px;
  font-weight: 700 !important;
  color: #0a9a73;
}
.blogs .card-hover:hover .blog-image1 {
  transform: scale(1.1);
}

.explore {
  position: relative;
  top: 80px;
}
.explore .explore-box {
  font-family: "josefinSans-Regular";
  background-color: #0A9A73;
  padding: 50px 60px;
  color: white;
}
.explore .explore-box .explore-headig h1 {
  font-size: 36px;
  font-weight: 700;
  font-family: "josefinSans-Reular";
}
.explore .explore-button {
  background: linear-gradient(to right, black 50%, white 50%);
  width: 245px;
  padding: 22px;
  border: 1px solid transparent;
  background-position: right bottom;
  transition: all 0.5s ease-out;
  background-size: 200% 100%;
}
.explore .explore-button a {
  font-family: "josefinSans-Regular";
  text-decoration: none;
  color: #000;
  font-size: 16px;
}
.explore .explore-button:hover {
  background-position: left bottom;
}
.explore .explore-button:hover a {
  transition: 1s;
  color: white;
}
@media (max-width: 576px) {
  .explore .explore-main {
    display: block !important;
  }
  .explore .explore-heading1 {
    font-size: 30px !important;
    margin-bottom: 25px;
  }
}
@media (min-width: 576.5px) and (max-width: 768px) {
  .explore .explore-heading1 {
    font-size: 25px !important;
    margin-bottom: 25px;
  }
}

.footer-2 {
  padding-top: 130px;
  padding-bottom: 20px;
  background-color: #171B2A;
  font-family: "Nunito Sans", sans-serif;
}
.footer-2 .logo-content p {
  font-size: 16px;
  color: white;
  line-height: 25px;
}
.footer-2 .logo-content ul {
  list-style: none;
}
.footer-2 .logo-content ul i {
  color: white;
  font-size: 14px;
}
.footer-2 .logo-content ul span {
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.footer-2 .compmay {
  font-size: 22px;
  color: white;
}
.footer-2 .compmay .company {
  font-size: 22px;
  font-weight: 600;
  font-family: "josefinSans-Reular";
}
.footer-2 .compmay ul {
  list-style: none;
}
.footer-2 .compmay ul li {
  line-height: 35px;
}
.footer-2 .compmay ul li a {
  text-decoration: none;
  color: white;
  font-size: 16px;
  font-weight: 400;
}
.footer-2 .compmay ul li a:hover {
  color: #0a9a73;
}
.footer-2 .compmay ul li a:hover::before {
  content: "//";
  margin-right: 5px;
}
.footer-2 .compmay .subscribe {
  font-size: 16px;
  font-weight: 400;
  font-family: "Nunito Sans", sans-serif;
}
.footer-2 .compmay .form-control {
  border: 2px solid #e4ecf2;
}
.footer-2 .compmay .form-control::-moz-placeholder {
  font-family: "Nunito Sans", sans-serif;
}
.footer-2 .compmay .form-control:-ms-input-placeholder {
  font-family: "Nunito Sans", sans-serif;
}
.footer-2 .compmay .form-control::placeholder {
  font-family: "Nunito Sans", sans-serif;
}
.footer-2 .compmay .input-group-text {
  background-color: #0a9a73 !important;
  color: white !important;
}
.footer-2 .compmay .payement {
  margin-top: 25px;
  margin-bottom: 25px;
}
.footer-2 .compmay .payement h5 {
  font-family: "josefinSans-Regular";
  font-size: 18px;
  font-weight: 600;
}
.footer-2 .circle {
  height: 40px;
  width: 40px;
  opacity: 0.5;
  box-shadow: 0 1px 6px 0 rgba(32, 33, 36, 0.28);
  display: inline-block;
  text-align: center;
  position: fixed;
  bottom: 30px;
  transform: rotate(45deg);
  background-color: #F2F6F7;
  visibility: hidden;
  right: 10px;
  z-index: 1000;
}
.footer-2 .circle:hover {
  background-color: #0A9A73 !important;
  color: white;
}
@media (max-width: 576.5px) {
  .footer-2 .circle {
    display: none;
  }
}
.footer-2 #button.show {
  opacity: 1;
  visibility: visible;
}
.footer-2 .angle {
  opacity: 1 !important;
  content: "\f106";
  position: relative;
  height: 100%;
  font-size: 18px;
  color: #000 !important;
  transform: rotate(-45deg);
  display: flex;
  align-items: center;
  justify-content: center;
  border: 0px !important;
}

.privacy {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #282B38;
}
.privacy .privacy-list ul {
  list-style-type: none;
}
.privacy .privacy-list ul li {
  display: inline-flex;
  align-items: center;
  margin-right: 20px;
}
.privacy .privacy-list ul li a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  font-weight: 600;
}
.privacy .privacy-list ul li a:hover {
  color: #0a9a73;
  transition: 1s;
}
.privacy .all-right {
  color: white;
  font-size: 16px;
  font-weight: 700;
}

.main-shop {
  background-image: url("../images/14.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 130px;
  padding-bottom: 130px;
  margin-bottom: 120px;
}
.main-shop .main-shop-heading {
  font-family: "josefinSans-Regular";
  font-size: 36px;
  font-weight: 700;
}
.main-shop .breadcrumb .breadcrumb-item {
  font-size: 16px;
  color: #000;
  font-weight: 700;
}
.main-shop .breadcrumb .breadcrumb-item a {
  font-size: 16px;
  color: #5c727d;
  text-decoration: none;
  font-weight: 700;
}
.main-shop .breadcrumb .breadcrumb-item a:hover {
  transition: 1s;
  color: #0a9a73;
}
.main-shop .breadcrumb .breadcrumb-item i {
  color: #0a9a73;
}
.main-shop .breadcrumb-item1::before {
  content: "\f105";
  display: inline-block;
  font-weight: 900;
  font-family: "Font Awesome 5 Free";
  font-size: 14px;
  position: relative;
  top: 4px;
}

.shoping-card .grid-row {
  margin-bottom: 50px;
}
.shoping-card .grid-row .shop-list {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
}
.shoping-card .grid-row .shop-list .shop-item a {
  font-size: 24px;
  color: #0a9a73;
}
.shoping-card .grid-row .shop-list .shop-item a .bar2 {
  color: #5c727d;
}
.shoping-card .grid-row .shop-list .shop-item a .bar2:hover {
  color: #0a9a73;
}
.shoping-card .grid-row .shop-list .shop-dropdown {
  background-color: white;
  color: rgb(92, 114, 125);
  border: 2px solid #dee2e6;
  font-weight: 700;
  padding-left: 10px;
  padding-right: 50px;
}
.shoping-card .grid-row .shop-list .dropdown-toggle::after {
  border: none;
  content: "\f107";
  font-family: "Font Awesome 5 Free";
  display: inline-block;
  font-weight: 900;
  top: 15px;
  right: 15px;
  position: absolute;
  font-size: 10px;
}
.shoping-card .grid-row .shop-list .poroduct-number span {
  font-family: "josefinSans-Reular";
  font-size: 16px;
  font-weight: 600;
  color: rgb(92, 114, 125);
}
.shoping-card .card-border {
  border: 2px solid #f6f6f6;
}
.shoping-card .card-border .stars-products {
  font-size: 12px;
  color: #ffb800;
  margin-bottom: 5px;
}
.shoping-card .card-border .stars-products i:hover {
  color: #0a9a73;
}
.shoping-card .card-border .stars-products span {
  font-size: 12px;
  color: #ffb800;
}
.shoping-card .card-border .stars-products span:hover {
  color: #0a9a73;
}
.shoping-card .card-border .product-tittle {
  font-family: "josefinSans-Regular";
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 5px;
}
.shoping-card .card-border .product-tittle a {
  text-decoration: none;
  color: #000;
}
.shoping-card .card-border .product-tittle a:hover {
  color: #0a9a73;
}
.shoping-card .card-border .product-price {
  color: #0a9a73;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}
.shoping-card .card-border .product-price ins {
  text-decoration: none;
}
.shoping-card .card-border .product-price del {
  font-size: 13px;
  color: #6CC2AB;
  font-weight: 700;
}
.shoping-card .card-border:hover {
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
}
.shoping-card .card-border .badge {
  right: 15px;
  top: 15px;
  background-color: #0a9a73;
  color: white;
  padding: 10px;
  padding-left: 13px;
  padding-right: 13px;
  font-size: 14px;
  font-weight: bold;
}
.shoping-card .card-border .btn-eye {
  position: relative;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
}
.shoping-card .card-border .btn-eye i {
  color: rgb(92, 114, 125);
}
.shoping-card .card-border .btn-eye:hover {
  background-color: #0a9a73 !important;
}
.shoping-card .card-border .btn-eye:hover i {
  color: white;
}
.shoping-card .card-border .btn-shoping {
  position: relative;
  left: 0%;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
  border-left: 1px solid rgb(203, 216, 223);
}
.shoping-card .card-border .btn-shoping i {
  color: rgb(92, 114, 125);
}
.shoping-card .card-border .btn-shoping:hover {
  background-color: #0a9a73 !important;
}
.shoping-card .card-border .btn-shoping:hover i {
  color: white;
}
.shoping-card .card-border .btn-heart {
  position: relative;
  left: 0%;
  background-color: white !important;
  box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
  border: 1px solid transparent;
  border-left: 1px solid rgb(203, 216, 223);
}
.shoping-card .card-border .btn-heart i {
  color: rgb(92, 114, 125);
}
.shoping-card .card-border .btn-heart:hover {
  background-color: #0a9a73 !important;
}
.shoping-card .card-border .btn-heart:hover i {
  color: white;
}
.shoping-card .card-border .btn-position {
  top: -60px !important;
}
.shoping-card .card-border .btn-hover {
  display: none !important;
}
.shoping-card .card-border:hover .btn-hover {
  display: flex !important;
}
.shoping-card .card-border .modal-header {
  border-bottom: transparent !important;
}
.shoping-card .card-border .modal-footer {
  border-top: transparent !important;
}
.shoping-card .card-border .custom-modal-content h5 {
  font-size: 18px;
  font-weight: 700;
  font-family: "josefinSans-Regular";
  margin-bottom: 15px;
}
.shoping-card .card-border .custom-modal-content h5 a {
  text-decoration: none;
  color: #000;
}
.shoping-card .card-border .cart {
  margin-bottom: 15px;
}
.shoping-card .card-border .cart i {
  color: #0a9a73;
}
.shoping-card .card-border .cart span {
  color: rgb(92, 114, 125);
  font-size: 16px;
  font-weight: 600;
}
.shoping-card .card-border .cart-button {
  font-family: "josefinSans-Regular";
}
.shoping-card .card-border .cart-button .btn-view {
  background-color: #0a9a73;
  color: white;
  border-top: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.shoping-card .card-border .cart-button .btn-view:hover {
  transition: 1s;
  background-color: white;
  border-top: 2px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom: 1px solid #000;
  color: #000;
}
.shoping-card .card-border .cart-button .btn-checkout {
  background-color: #000;
  color: white;
  border-top: 2px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.shoping-card .card-border .cart-button .btn-checkout:hover {
  transition: 1s;
  background-color: white;
  border-top: 2px solid #0a9a73;
  border-left: 1px solid #0a9a73;
  border-right: 1px solid #0a9a73;
  border-bottom: 1px solid #0a9a73;
  color: #0a9a73;
}
.shoping-card .card-border .btn-close {
  background-color: #5c727d;
  border-radius: 0px !important;
}
.shoping-card .card-border .modal-stars {
  font-size: 12px;
  color: #ffb800;
  margin-bottom: 10px;
}
.shoping-card .card-border .modal-stars i:hover {
  color: #0a9a73;
}
.shoping-card .card-border .modal-stars span {
  color: #ffb800;
  font-size: 12px;
}
.shoping-card .card-border .modal-stars span:hover {
  color: #0a9a73;
}
.shoping-card .card-border .digital {
  font-size: 24px;
  margin-bottom: 10px;
  font-weight: 600;
  margin-bottom: 10px;
}
.shoping-card .card-border .product-price1 {
  margin-bottom: 10px;
}
.shoping-card .card-border .product-price1 .price1 {
  color: #0a9a73;
  text-decoration: none;
  font-size: 40px;
  font-weight: 600;
}
.shoping-card .card-border .product-price1 del {
  color: #6CC2AB;
  font-size: 30px;
  font-weight: 600;
}
.shoping-card .card-border .modal-cateogry {
  padding-top: 15px;
  padding-bottom: 15px;
  border-top: 1px solid #e1e6ff;
  border-bottom: 1px solid #e1e6ff;
  margin-bottom: 10px;
}
.shoping-card .card-border .modal-cateogry ul {
  list-style: none;
}
.shoping-card .card-border .modal-cateogry ul li {
  font-weight: 400;
  font-size: 14px;
}
.shoping-card .card-border .modal-cateogry ul li span {
  font-size: 16px;
  padding-left: 5px;
}
.shoping-card .card-border .modal-cateogry ul li span a {
  font-weight: 600;
  color: rgb(92, 114, 125);
  text-decoration: none;
}
.shoping-card .card-border .plus-minus ul {
  list-style: none;
}
.shoping-card .card-border .plus-minus ul li {
  display: inline-block;
}
.shoping-card .card-border .plus-minus ul li .sub {
  border: 2px solid #dee2e6;
  border-radius: 0px;
  height: 40px;
  box-shadow: none;
}
.shoping-card .card-border .plus-minus ul li .add {
  border: 2px solid #dee2e6;
  box-shadow: none;
  border-radius: 0px;
  height: 40px;
}
.shoping-card .card-border .plus-minus ul li input {
  height: 40px;
  width: 50px;
  border-radius: 0px;
  border: 2px solid #dee2e6;
  text-align: center;
}
.shoping-card .card-border .plus-minus ul li input:focus {
  outline: none;
}
.shoping-card .card-border .plus-minus ul li .cart-button {
  margin-left: 15px;
  height: 40px;
  width: 180px;
  padding: 5px;
  background-color: #0a9a73;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: 1px solid transparent;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-bottom: 2px solid transparent;
}
.shoping-card .card-border .plus-minus ul li .cart-button a {
  text-decoration: none;
  color: white;
  padding: 10px;
}
.shoping-card .card-border .plus-minus ul li .cart-button:hover {
  background-color: white;
  border-top: 1px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  border-bottom: 2px solid #000;
}
.shoping-card .card-border .plus-minus ul li .cart-button:hover a {
  color: #000;
}
.shoping-card .card-border .plus-minus .whislists i {
  font-size: 14px;
  color: rgb(92, 114, 125);
}
.shoping-card .card-border .plus-minus .whislists span {
  font-size: 14px;
  color: rgb(92, 114, 125);
  font-weight: 600;
}
.shoping-card .card-border .plus-minus .whislists span:hover {
  color: #0a9a73;
}
.shoping-card .card-border .plus-minus hr {
  margin-top: 20px;
  margin-bottom: 20px;
  color: rgb(198, 213, 221);
  height: 2px;
}
.shoping-card .card-border .plus-minus .social-meadia-icons ul {
  list-style: none;
}
.shoping-card .card-border .plus-minus .social-meadia-icons ul li {
  font-size: 16px;
  color: rgb(92, 114, 125);
  display: inline-block;
  font-weight: 400;
  margin-left: 10px;
}
.shoping-card .card-border .plus-minus .social-meadia-icons ul li i {
  font-size: 14px;
}
.shoping-card .card-border .plus-minus .social-meadia-icons ul li i:hover {
  color: #0a9a73;
}
.shoping-card .card-border .information {
  padding: 25px 30px 15px;
}
@media (max-width: 576px) {
  .shoping-card .modal-stars {
    margin-top: 10px !important;
  }
  .shoping-card .nav-item {
    margin-left: 8px;
    margin-right: 8px;
  }
  .shoping-card .nav-item:after {
    left: 117px;
    top: 10px;
  }
  .shoping-card .nav-item2:after {
    left: 88px;
    top: 10px;
  }
  .shoping-card .nav-item3:after {
    left: 113px;
    top: 10px;
  }
  .shoping-card .nav-item4:after {
    left: 106px;
    top: 10px;
  }
  .shoping-card .nav-link {
    font-size: 12px !important;
  }
}
@media (max-width: 768px) {
  .shoping-card .cart-button {
    margin-left: 0px !important;
    margin-top: 10px;
  }
  .shoping-card .whish1 span {
    font-size: 10px !important;
  }
  .shoping-card .whish2 {
    margin-left: 1rem !important;
  }
  .shoping-card .nav-item {
    margin-left: 7px;
    margin-right: 7px;
  }
}
@media (max-width: 576px) {
  .shoping-card .shop-list {
    display: block !important;
  }
  .shoping-card .dropdown-toggle::after {
    left: 30px !important;
  }
  .shoping-card .poroduct-number {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.shoping-card .dropdown-menu-shop {
  width: 180px;
}
.shoping-card .dropdown-item {
  color: rgb(92, 114, 125);
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 8px;
  padding-left: 10px;
  padding-right: 5px;
}
.shoping-card .dropdown-item:hover {
  background-color: #f6f6f6;
  font-weight: 400;
}
.shoping-card .dropdown-item-1 {
  font-weight: 600;
  color: rgb(92, 114, 125);
  font-size: 14px;
}
.shoping-card .dropdown-item-1:hover {
  font-weight: 600;
}
.shoping-card .card-shop {
  border: 2px solid #ededed;
  padding: 35px 20px 40px 20px;
  margin-bottom: 40px;
}
.shoping-card .card-shop .card-heading1 {
  font-family: "josefinSans-Reular";
  padding-left: 45px;
  font-weight: 600;
}
.shoping-card .card-shop .card-heading1 h4 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.shoping-card .card-shop .card-heading1 h4::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 4px;
  border-radius: 25px;
  background-color: #0A9A73;
  top: 10px;
  left: -46px;
}
.shoping-card .card-shop .card-heading1 h4::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 10px;
  left: -22px;
  border-radius: 50%;
  background-color: #0A9A73;
}
.shoping-card .card-shop .card-list ul {
  list-style-type: none;
}
.shoping-card .card-shop .card-list ul li {
  margin-top: 15px;
}
.shoping-card .card-shop .card-list ul li a {
  font-size: 14px;
  font-weight: 700;
  color: rgb(92, 114, 125);
  text-decoration: none;
}
.shoping-card .card-shop .card-list ul li a:hover {
  color: #0A9A73;
}
.shoping-card .card-price {
  border: 2px solid #ededed;
  padding: 35px 20px 40px 20px;
  margin-bottom: 40px;
}
.shoping-card .card-price .price-heading {
  font-family: "josefinSans-Reular";
  padding-left: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.shoping-card .card-price .price-heading h4 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.shoping-card .card-price .price-heading h4::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 4px;
  border-radius: 25px;
  background-color: #0A9A73;
  top: 10px;
  left: -46px;
}
.shoping-card .card-price .price-heading h4::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 10px;
  left: -22px;
  border-radius: 50%;
  background-color: #0A9A73;
}
.shoping-card .card-price .price-rang {
  /*hide the outline behind the border*/
}
.shoping-card .card-price .price-rang .range-slider {
  width: 300px;
  text-align: center;
  position: relative;
}
.shoping-card .card-price .price-rang .range-slider .rangeValues {
  display: block;
}
.shoping-card .card-price .price-rang input[type=range] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 300px;
  position: absolute;
  left: 0;
}
.shoping-card .card-price .price-rang input[type=range]::-webkit-slider-runnable-track {
  width: 300px;
  height: 5px;
  background: #0A9A73;
  border: none;
  border-radius: 3px;
}
.shoping-card .card-price .price-rang input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0A9A73;
  margin-top: -4px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}
.shoping-card .card-price .price-rang input[type=range]:focus {
  outline: none;
}
.shoping-card .card-price .price-rang input[type=range]:focus::-webkit-slider-runnable-track {
  background: #0A9A73;
}
.shoping-card .card-price .price-rang input[type=range]::-moz-range-track {
  width: 300px;
  height: 5px;
  background: #000;
  border: none;
  border-radius: 3px;
}
.shoping-card .card-price .price-rang input[type=range]::-moz-range-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #0A9A73;
}
.shoping-card .card-price .price-rang input[type=range]:-moz-focusring {
  outline: 1px solid white;
  outline-offset: -1px;
}
.shoping-card .card-price .price-rang input[type=range]::-ms-track {
  width: 300px;
  height: 5px;
  /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
  background: #0A9A73;
  /*leave room for the larger thumb to overflow with a transparent border */
  border-color: #0A9A73;
  border-width: 6px 0;
  /*remove default tick marks*/
  color: transparent;
  z-index: -4;
}
.shoping-card .card-price .price-rang input[type=range]::-ms-fill-lower {
  background: #000;
  border-radius: 10px;
}
.shoping-card .card-price .price-rang input[type=range]::-ms-fill-upper {
  background: #0A9A73;
  border-radius: 10px;
}
.shoping-card .card-price .price-rang input[type=range]::-ms-thumb {
  border: none;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #21c1ff;
}
.shoping-card .card-price .price-rang input[type=range]:focus::-ms-fill-lower {
  background: #000;
}
.shoping-card .card-price .price-rang input[type=range]:focus::-ms-fill-upper {
  background: #0A9A73;
}
.shoping-card .card-price .price-rang .form-label {
  color: rgb(92, 114, 125);
}
.shoping-card .card-price .price-rang .price {
  font-weight: 700;
  color: rgb(92, 114, 125);
}
.shoping-card .top-rated-product {
  border: 2px solid #ededed;
  padding: 35px 20px 40px 20px;
  margin-bottom: 40px;
}
.shoping-card .top-rated-product .toprated-heading {
  font-family: "josefinSans-Reular";
  padding-left: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.shoping-card .top-rated-product .toprated-heading h4 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.shoping-card .top-rated-product .toprated-heading h4::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 4px;
  border-radius: 25px;
  background-color: #0A9A73;
  top: 10px;
  left: -46px;
}
.shoping-card .top-rated-product .toprated-heading h4::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 10px;
  left: -22px;
  border-radius: 50%;
  background-color: #0A9A73;
}
.shoping-card .top-rated-product .top-rate-list .top-rated-stars {
  color: #ffb800;
  font-size: 10px;
  font-weight: 900;
}
.shoping-card .top-rated-product .top-rate-list .top-rated-stars i:hover {
  color: #0A9A73;
}
.shoping-card .top-rated-product .top-rate-list .products-name a {
  text-decoration: none;
  color: #000;
  font-family: "josefinSans-Reular";
  font-size: 14px;
  font-weight: 900;
}
.shoping-card .top-rated-product .top-rate-list .products-name a:hover {
  color: #0A9A73;
}
.shoping-card .top-rated-product .top-rate-list .products-price ins {
  text-decoration: none;
  color: #0A9A73;
  font-size: 14px;
  font-weight: 700;
}
.shoping-card .top-rated-product .top-rate-list .products-price del {
  color: #6CC2AB;
  font-size: 11px;
  font-weight: 700;
}
.shoping-card .top-rated-product .top-rate-list .custom-border-bottom {
  border-bottom: 1px solid #e6ecf0;
  padding-bottom: 30px;
  margin-bottom: 30px;
}
.shoping-card .top-rated-product .top-rate-list .custom-border-bottom-1 {
  margin-bottom: 30px;
}
.shoping-card .card-search {
  border: 2px solid #ededed;
  padding: 35px 20px 40px 20px;
  margin-bottom: 40px;
}
.shoping-card .card-search .search-object {
  font-family: "josefinSans-Reular";
  padding-left: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.shoping-card .card-search .search-object h4 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.shoping-card .card-search .search-object h4::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 4px;
  border-radius: 25px;
  background-color: #0A9A73;
  top: 10px;
  left: -46px;
}
.shoping-card .card-search .search-object h4::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 10px;
  left: -22px;
  border-radius: 50%;
  background-color: #0A9A73;
}
.shoping-card .card-search .input-group-text {
  width: 70px;
  border-radius: 0px;
  background-color: #0A9A73;
  color: white;
  text-align: center;
}
.shoping-card .card-search .form-control {
  border: 2px solid #ededed;
  border-radius: 0px;
  background-color: #f2f6f7;
}
.shoping-card .card-search .form-control::-moz-placeholder {
  color: #000;
  font-weight: 700;
  font-size: 10px;
}
.shoping-card .card-search .form-control:-ms-input-placeholder {
  color: #000;
  font-weight: 700;
  font-size: 10px;
}
.shoping-card .card-search .form-control::placeholder {
  color: #000;
  font-weight: 700;
  font-size: 10px;
}
.shoping-card .card-popular {
  border: 2px solid #ededed;
  padding: 35px 20px 40px 20px;
  margin-bottom: 40px;
}
.shoping-card .card-popular .popular-tags {
  font-family: "josefinSans-Reular";
  padding-left: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.shoping-card .card-popular .popular-tags h4 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.shoping-card .card-popular .popular-tags h4::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 4px;
  border-radius: 25px;
  background-color: #0A9A73;
  top: 10px;
  left: -46px;
}
.shoping-card .card-popular .popular-tags h4::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 10px;
  left: -22px;
  border-radius: 50%;
  background-color: #0A9A73;
}
.shoping-card .card-popular .tags-row-1 {
  margin: 5px 3px;
  font-family: "Josefin Sans", sans-serif;
}
.shoping-card .card-popular .tags-row-1 a {
  background-color: #f2f6f7;
  padding: 12px 24px 10px;
  font-size: 13px;
  text-decoration: none;
  color: rgb(92, 114, 125);
  font-size: 13px;
  font-weight: 700;
}
.shoping-card .card-popular .tags-row-1 a:hover {
  transition: 1s;
  background-color: #0A9A73;
  color: white;
}
.shoping-card .card-product-size {
  border: 2px solid #ededed;
  padding: 35px 20px 40px 20px;
  margin-bottom: 40px;
}
.shoping-card .card-product-size .product-size {
  font-family: "josefinSans-Reular";
  padding-left: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.shoping-card .card-product-size .product-size h4 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.shoping-card .card-product-size .product-size h4::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 4px;
  border-radius: 25px;
  background-color: #0A9A73;
  top: 10px;
  left: -46px;
}
.shoping-card .card-product-size .product-size h4::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 10px;
  left: -22px;
  border-radius: 50%;
  background-color: #0A9A73;
}
.shoping-card .card-product-size .size-buttons {
  font-family: "Josefin Sans", sans-serif;
}
.shoping-card .card-product-size .size-buttons a {
  background-color: #f2f6f7;
  padding: 10px 18px 8px;
  font-size: 13px;
  text-decoration: none;
  color: rgb(92, 114, 125);
  font-weight: 700;
}
.shoping-card .card-product-size .size-buttons a:hover {
  color: white;
  background-color: #0A9A73;
  transition: 1s;
}
.shoping-card .card-color {
  border: 2px solid #ededed;
  padding: 35px 20px 40px 20px;
  margin-bottom: 40px;
}
.shoping-card .card-color .product-color {
  font-family: "josefinSans-Reular";
  padding-left: 45px;
  font-weight: 600;
  margin-bottom: 25px;
}
.shoping-card .card-color .product-color h4 {
  position: relative;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.shoping-card .card-color .product-color h4::after {
  position: absolute;
  content: "";
  width: 18px;
  height: 4px;
  border-radius: 25px;
  background-color: #0A9A73;
  top: 10px;
  left: -46px;
}
.shoping-card .card-color .product-color h4::before {
  position: absolute;
  content: "";
  width: 4px;
  height: 4px;
  top: 10px;
  left: -22px;
  border-radius: 50%;
  background-color: #0A9A73;
}
.shoping-card .card-color .different-colors {
  display: inline-block;
}
.shoping-card .card-color .different-colors .black {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors .black a {
  background-color: #000;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors .black:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors .white {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors .white a {
  background-color: white;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors .white:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors .red {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors .red a {
  background-color: #FF0000;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors .red:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors .grey {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors .grey a {
  background-color: #808080;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors .grey:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors1 {
  display: inline-block;
}
.shoping-card .card-color .different-colors1 .black {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors1 .black a {
  background-color: #808080;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors1 .black:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors1 .white {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors1 .white a {
  background-color: #bc3928;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors1 .white:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors1 .red {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors1 .red a {
  background-color: #FFFF00;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors1 .red:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors1 .grey {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors1 .grey a {
  background-color: #808000;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors1 .grey:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors2 {
  display: inline-block;
}
.shoping-card .card-color .different-colors2 .black {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors2 .black a {
  background-color: #00FF00;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors2 .black:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors2 .white {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors2 .white a {
  background-color: #77C720;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors2 .white:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors2 .red {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors2 .red a {
  background-color: #00FFFF;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors2 .red:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .card-color .different-colors2 .grey {
  display: inline-block;
  border: 1px solid transparent;
  padding: 3px;
}
.shoping-card .card-color .different-colors2 .grey a {
  background-color: #008080;
  width: 40px;
  height: 22px;
  display: block;
}
.shoping-card .card-color .different-colors2 .grey:hover {
  border: 1px solid #0A9A73;
}
.shoping-card .banner-image {
  margin-bottom: 40px;
}

.pagination-1 .pagination .page-item {
  padding: 10px;
}
.pagination-1 .pagination .page-item .page-link {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #ededed;
  color: rgb(92, 114, 125);
  font-weight: 700;
  font-size: 16px;
  box-shadow: none !important;
}
.pagination-1 .pagination .page-item .page-link:hover {
  background-color: #0A9A73 !important;
  color: white !important;
}
.pagination-1 .pagination .page-item .page-link:focus {
  background-color: #0A9A73 !important;
  color: white !important;
}/*# sourceMappingURL=index.css.map */

.col-lg-4{
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
}
.ltn__contact-address-item-3 {
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 2px solid ;
    border-color: rgb(216 215 215);

    padding: 50px 30px 25px;
}
.ltn__contact-address-item-3 .ltn__contact-address-icon {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
}
.theme-btn-1 {
    background-color: #0a9670;
    color: var(--white);
}
.them{
    color: #0a9670;
    font-weight: bold ;

}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.title-2 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: 600;
    border-left: 2px solid;
    border-color: rgb(90, 246, 5);
    padding-left: 10px;
}
.input-item {
    position: relative;
}
input[type="text"], input[type="email"], input[type="password"], input[type="submit"], textarea {
    background-color: var(--white);
    border: 2px solid;
    border-color: rgb(216 215 215);
    height: 65px;
    -webkit-box-shadow: none;
    box-shadow: none;
    padding-left: 20px;
    font-size: 16px;
    color: var(--ltn__paragraph-color);
    width: 100%;
    margin-bottom: 30px;
    border-radius: 0;
    padding-right: 40px;
}
textarea {
    resize: vertical;
    padding: 15px 20px;
    min-height: 150px;
}
.input-info-save {
    font-size: 14px;
}

section{
    margin-bottom: 100px;
}




/* // eshfhkjsa

// .x{
//     width: 30px;
//     height: 30px;
//     border-radius: 50%;
//     border: 0;
//     position: absolute;
//     margin-top: 25px;
//     box-shadow: 30px !important;
// }s */
.imge-1{
    width: 100px;
    /* // height: 100px; */
    margin-left: 24px;
    margin-top: 22px;
    /* // position: relative;
} */
/* .bord{ */
    border-bottom: groove;
    /* // border-top: groove; */

}
.offcanvas-header{
    border-bottom: groove;

}
.cart-x{
    margin-top: 58px;
    color: black;
    font-weight: 700;
    font-size: 20px;
}
