@font-face {
    font-family: 'josefinSans-Reular';
    src: url('../font/JosefinSans-Regular.ttf');
}

.header {
    font-family: 'Nunito Sans', sans-serif;

    .top-nav {
        border-bottom: 1px solid #dee2e6 !important;
        padding-top: 5px !important;
        padding-bottom: 5px !important;

        .left-content {
            ul {
                list-style-type: none;
                padding-left: 0px;

                li {
                    margin-right: 30px;

                    a {
                        text-decoration: none;
                        color: rgb(92, 114, 125);
                        font-size: 14px;
                        font-weight: 700;

                        &:hover {
                            color: #0a9a73;
                            transition: 1s;
                        }

                        i {
                            font-size: 14px;
                            color: #0a9a73;
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .right-content {
            ul {
                list-style-type: none;

                li {
                    .dropdown1 {
                        .dropdown-toggle {
                            text-decoration: none;
                            color: black;
                            font-size: 14px;
                            font-weight: 700;

                            &:hover {
                                color: #0a9a73;
                                transition: 1s;
                            }

                            &::after {
                                border: none;
                                content: '\f063';
                                font-family: "Font Awesome 5 Free";
                                display: inline-block;
                                font-weight: 900;
                                position: absolute;
                                top: 2px;
                                font-size: 14px;
                                color: #0a9a73;
                            }
                        }

                        &:hover .dropdown-menu1 {
                            display: block;
                        }

                        .dropdown-menu1 {
                            display: none;
                            border: none;

                            .dropdown-item {
                                background-color: transparent;

                                &:hover {
                                    color: #0a9a73;
                                }
                            }
                        }
                    }
                }
            }

            .icons {
                li {
                    a {
                        color: rgb(92, 114, 125);

                        i {
                            font-weight: 700;
                            font-size: 14px;
                        }

                        &:hover {
                            color: #0a9a73;
                            transition: 1s;
                        }
                    }
                }
            }
        }
    }

    @media (max-width:576px) {
        .right-content {
            text-align: center !important;
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .media {
            justify-content: center;
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .center-nav {
        padding: 30px 0px;

        .search-phone {
            .icon-info {
                margin-right: 10px;

                .icon {
                    width: 35px;
                    font-weight: 400;
                    color: #dee2e6;
                }

                .phone-number {
                    width: 109px;

                    h6 {
                        color: rgb(92, 114, 125);
                        font-size: 15px;
                        font-weight: 600;
                    }

                    a {
                        text-decoration: none;
                        color: rgb(92, 114, 125);
                        font-family: 'josefinSans-Regular';
                        font-size: 15px;
                        font-weight: 600;

                        &:hover {
                            color: #0a9a73;
                        }
                    }
                }
            }

            .search-input {

                input {
                    margin-bottom: 0;
                    border: 0;
                    box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
                    border-radius: 50px;
                    padding-left: 20px;
                    padding-right: 50px;
                    height: 45px;
                    width: 470px;

                    &::placeholder {
                        color: #5c727d;
                    }

                    &:focus {
                        outline: 1px solid #0a9a73;
                        box-shadow: none;
                    }
                }

                i {
                    top: 35%;
                    right: 8%;
                    font-size: 14px;
                }
            }
        }

        .center-nav-icon {
            display: flex;
            align-items: center;
            height: 100%;
            justify-content: end;

            .user1 {
                width: 20px;
                margin-right: 25px;
                // i {
                //     font-size: 20px;
                //     font-weight: 700;
                //     color: #000;
                //   
                // }
            }

            .shoping1 {
                width: 20px;
                margin-right: 25px;
                // i {
                //     font-size: 20px;
                //     font-weight: 700;
                //     color: #000;
                //     margin-right: 25px;

                // }

                .badge {
                    background-color: #0a9a73;
                    border-radius: 50%;
                    font-size: 12px;
                    height: 20px;
                    width: 20px;
                    left: 15px;
                    top: -5px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }

            .price1 {
                margin-right: 15px;

                span {
                    font-size: 16px;
                    color: #000;
                    font-weight: 700;
                }

                p {
                    font-size: 14px;
                    color: #0a9a73;
                    font-weight: 700;
                }
            }
        }

        @media (max-width:576px) {

            .search-input {
                margin-top: 10px;

            }

            .icon-info {
                margin-top: 10px;
            }
        }

        @media (max-width:768px) {
            .search-phone {
                display: block !important;
            }

            .search-input {
                input {
                    width: 100% !important;
                }
            }

            .center-nav-icon {
                justify-content: center !important;
                margin-top: 10px;
            }

        }

        @media (min-width:769px) and (max-width:991.5px) {
            .search-phone {
                display: block !important;

            }

            .center-nav-icon {
                height: 50% !important;
            }

            .search-input {
                input {
                    margin-top: 20px;
                }

                i {
                    top: 54% !important;
                    right: -69% !important;
                    font-size: 14px !important;
                }
            }
        }
    }

    .last-nav {
        font-family: 'Nunito Sans', sans-serif;
        background-color: #0a9a73;

        .dropdown-toggle {
            &::after {
                border: none;
                content: '\2b';
                font-family: "Font Awesome 5 Free";
                display: inline-block;
                font-weight: 900;
                position: absolute;
                top: 28px;
                font-size: 10px;
                color: white;
            }
        }

        .dropdown2 {
            padding-top: 15px;
            padding-bottom: 15px;

            .dropdown-toggle {
                font-size: 16px;
                font-weight: 700;
            }

            .dropdown-menu2 {
                border-top: 4px solid #0a9a73 !important;
                top: 68px;
                display: none;

                .dropdown-item {
                    background-color: transparent;
                    color: rgb(92, 114, 125);
                    font-size: 16px;
                    font-weight: 400;

                    &:hover {
                        transition: 1s;
                        color: #0a9a73;
                    }
                }

            }

            &:hover .dropdown-menu2 {
                display: block;

            }
        }

        .drop-menu-page {
            padding: 10px;
            width: 850px;
            left: -500px;

            .image-div {
                padding: 10px;
                background-color: #dee2e6;
            }

            .inner-page {
                background-color: #F2F6F7 !important;
                font-weight: 700 !important;
                border-bottom: 1px dashed #ddd;
            }

            .dropdown-item {
                line-height: 30px;
            }
        }

        @media (max-width:576px) {
            .dropdown-toggle {
                font-size: 14px !important;

            }

            .dropdown-menu {
                left: 75px;
                top: 41px !important;
            }

            .dropdown-toggle {
                &::after {
                    border: none;
                    content: '\2b';
                    font-family: "Font Awesome 5 Free";
                    display: inline-block;
                    font-weight: 700;
                    position: absolute;
                    top: 25px;
                    font-size: 10px;
                    color: white;
                }
            }

            .drop-menu-page {
                width: 230px !important;
                left: 23px !important;
            }

            .media-query {
                display: inline-block !important;
            }
        }

        @media (min-width:576.5px) and (max-width:768px) {
            .drop-menu-page {
                width: 730px;
                left: -440px;
            }
        }
    }
}


.cateogry {
    margin-top: 30px !important;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 40px !important;

    .accordion-button-category {
        background-color: #0a9a73 !important;
        border-radius: 0px !important;


        &::after {
            background-image: none !important;
            content: "\f04b";
            font-family: "Font Awesome 5 Free";
            display: inline-block;
            font-weight: 900;
            position: absolute;
            left: 90%;
            top: 9px;
            font-size: 11px;
            transform: rotate(-149deg);
        }
    }

    .accordion-body-cateogry {
        border-radius: 0px !important;
        font-size: 16px;

        .border-botttom {
            border-bottom: 1px solid #ddd;
        }

        .dropdown-category {
            .dropdown-toggle-category {
                font-size: 15px;
                color: rgb(92, 114, 125);
                font-weight: 400;

                i {
                    font-size: 18px;
                    color: rgb(92, 114, 125);
                }

                &::after {
                    display: none !important;
                }

            }

            &:hover {
                background-color: #e7f7f2;
                color: #0a9a73;
                font-weight: 700 !important;
            }

            &:hover i {
                color: #0a9a73;
                font-weight: 700 !important;
            }

            &:hover .dropdown-toggle-category {
                color: #0a9a73;
                font-weight: 700;
            }

            &:hover .dropdown-menu-category {
                display: block;
            }
        }

        .dropdown-menu-category {
            position: absolute;
            display: none;
            left: 355px !important;
            top: 30px;
            width: 655px;

            .dropdown-item-heading {
                font-size: 14px !important;
                font-weight: 700;
                color: rgb(92, 114, 125);
                border-bottom: 1px solid #ddd !important;

                &:hover {
                    background-color: transparent;
                    color: #0a9a73;
                    transition: 1s;
                }
            }

            .dropdown-item {
                padding-left: 0px !important;
                line-height: 35px;
                font-size: 14px;
                color: rgb(92, 114, 125);

                &:hover {
                    background-color: transparent !important;
                    color: #0a9a73;
                    transition: 1s;
                }
            }
        }

        @media (max-width:576px) {
            .dropdown-menu-category {
                left: 64px !important;
                width: 226px;
                top: 40px;
            }
        }

        @media (min-width:576.5px) and (max-width:768px) {
            .dropdown-menu-category {
                left: 64px !important;
                width: 630px;
                top: 40px;
            }
        }

        @media (min-width:769px) and (max-width:1024px) {
            .dropdown-menu-category {
                left: 295px !important;
                top: 11px;
            }
        }
    }


    .slick {
        background-image: url('../images/61.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .silder-content {
            padding: 40px;
            padding-top: 150px;
            padding-bottom: 150px;

            h4 {
                color: #0a9a73;
                font-size: 20px;
                font-family: 'josefinSans-Regular';
                font-weight: 700;
            }

            h1 {
                font-size: 38px;
                font-family: 'josefinSans-Regular';
                font-weight: 700;
            }

            .orange-text {
                color: rgb(255, 165, 0);
                font-size: 20px;
                font-family: 'josefinSans-Regular';
                font-weight: 700;
            }

            .shop {
                width: 130px;
                height: 50px;
                background-color: #0a9a73;
                margin-top: 30px;
                border-top: 2px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;

                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover {
                    background-color: white;
                    border-top: 2px solid #071c1f;
                    border-left: 1px solid #071c1f;
                    border-right: 1px solid #071c1f;
                    border-bottom: 1px solid #071c1f;
                    color: #071c1f;
                    transition: all ease 1s;
                }

                &:hover a {
                    color: #071c1f;
                }
            }
        }

    }

    .slick1 {
        background-image: url('../images/62.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        .silder-content {
            padding: 40px;
            padding-top: 150px;
            padding-bottom: 150px;

            h4 {
                color: #0a9a73;
                font-size: 20px;
                font-family: 'josefinSans-Regular';
                font-weight: 700;
            }

            h1 {
                font-size: 38px;
                font-family: 'josefinSans-Regular';
                font-weight: 700;
            }

            .orange-text {
                color: rgb(255, 165, 0);
                font-size: 20px;
                font-family: 'josefinSans-Regular';
                font-weight: 700;
            }

            .shop {
                width: 130px;
                height: 50px;
                background-color: #0a9a73;
                margin-top: 30px;

                a {
                    text-decoration: none;
                    color: white;
                }

                &:hover {
                    background-color: white;
                    border-top: 2px solid #071c1f;
                    border-left: 1px solid #071c1f;
                    border-right: 1px solid #071c1f;
                    border-bottom: 1px solid #071c1f;
                    color: #071c1f;
                    transition: all ease 1s;
                }

                &:hover a {
                    color: #071c1f;
                }
            }
        }

    }

    .slick-dots li.slick-active button:before {
        opacity: .75;
        color: #0a9a73;
        font-size: 14px !important;
    }

    .slick-dots li button:before {
        font-family: slick;
        font-size: 12px;
        line-height: 20px;
        position: absolute;
        top: -80px;
        left: 0;
        width: 20px;
        height: 20px;
        content: '•';
        text-align: center;
        opacity: .25;
        color: #000;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }
}

.icons-section {
    margin-bottom: 70px;

    .icon-box {
        // padding: 30px;
        background-color: rgb(242, 246, 247);
        border: 1px solid #e5eaee;
        padding: 10px;

        .icon-width {
            width: 60px;
        }

        .icon-content {
            h4 {
                font-family: 'josefinSans-Regular';
                font-size: 20px;
                font-weight: 700;
            }

            p {
                color: rgb(92, 114, 125);
                font-size: 15px;
                font-weight: 400;
            }
        }
    }
}




.our-products {
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 50px;

    .product-content {
        margin-bottom: 40px;

        h1 {
            font-weight: 700;
            font-size: 44px;
        }

        p {
            font-size: 16px;
            color: #5c727d;
        }
    }

    .nav-item {
        margin-left: 15px;
        margin-right: 15px;
        position: relative;
        margin-bottom: 50px;

        .nav-link {
            background-color: transparent !important;
            color: #000;
            border-radius: 0px;
            font-size: 16px;
            font-weight: 700;

            &.active {
                color: #0a9a73;
                border-bottom: 2px solid #0a9a73;
            }
        }
    }

    .nav-item1 {
        &::after {
            content: '|';
            position: absolute;
            left: 126px;
            top: 10px;
            color: rgb(203, 216, 223);
        }
    }

    .nav-item2 {
        &::after {
            content: '|';
            position: absolute;
            left: 125px;
            top: 10px;
            color: rgb(203, 216, 223);
        }
    }

    .nav-item3 {
        &::after {
            content: '|';
            position: absolute;
            left: 125px;
            top: 10px;
            color: rgb(203, 216, 223);
        }
    }


    .nav-item4 {
        &::after {
            content: '|';
            position: absolute;
            left: 150px;
            top: 10px;
            color: rgb(203, 216, 223);
        }
    }

    .card-border {
        border: 2px solid #f6f6f6;

        .stars-products {
            font-size: 12px;
            color: #ffb800;
            margin-bottom: 5px;

            i {
                &:hover {
                    color: #0a9a73;
                }
            }

            span {
                font-size: 12px;
                color: #ffb800;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .product-tittle {
            font-family: 'josefinSans-Regular';
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .product-price {
            color: #0a9a73;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 20px;

            ins {
                text-decoration: none;
            }

            del {
                font-size: 13px;
                color: #6CC2AB;
                font-weight: 700;
            }
        }

        &:hover {
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
        }

        .badge {
            right: 15px;
            top: 15px;
            background-color: #0a9a73;
            color: white;
            padding: 10px;
            padding-left: 13px;
            padding-right: 13px;
            font-size: 14px;
            font-weight: bold;
        }

        .btn-eye {
            position: relative;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }

        .btn-shoping {
            position: relative;
            left: 0%;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;
            border-left: 1px solid rgb(203, 216, 223);

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }


        .btn-heart {
            position: relative;
            left: 0%;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;
            border-left: 1px solid rgb(203, 216, 223);

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }

        .btn-position {
            top: -60px !important;

        }

        .btn-hover {
            display: none !important;
        }

        &:hover .btn-hover {
            display: flex !important;
        }

        .modal-header {
            border-bottom: transparent !important;
        }

        .modal-footer {
            border-top: transparent !important;
        }

        .custom-modal-content {
            h5 {
                font-size: 18px;
                font-weight: 700;
                font-family: 'josefinSans-Regular';
                margin-bottom: 15px;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }

        .cart {
            margin-bottom: 15px;

            i {
                color: #0a9a73;
            }

            span {
                color: rgb(92, 114, 125);
                font-size: 16px;
                font-weight: 600;
            }
        }

        .cart-button {
            font-family: 'josefinSans-Regular';

            .btn-view {
                background-color: #0a9a73;
                color: white;
                border-top: 2px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    transition: 1s;
                    background-color: white;
                    border-top: 2px solid #000;
                    border-left: 1px solid #000;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                    color: #000;
                }
            }

            .btn-checkout {
                background-color: #000;
                color: white;
                border-top: 2px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    transition: 1s;
                    background-color: white;
                    border-top: 2px solid #0a9a73;
                    border-left: 1px solid #0a9a73;
                    border-right: 1px solid #0a9a73;
                    border-bottom: 1px solid #0a9a73;
                    color: #0a9a73;
                }
            }
        }

        .btn-close {
            background-color: #5c727d;
            border-radius: 0px !important;
        }

        .modal-stars {
            font-size: 12px;
            color: #ffb800;
            margin-bottom: 10px;

            i {
                &:hover {
                    color: #0a9a73;
                }
            }

            span {
                color: #ffb800;
                font-size: 12px;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .digital {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .product-price1 {
            margin-bottom: 10px;

            .price1 {
                color: #0a9a73;
                text-decoration: none;
                font-size: 40px;
                font-weight: 600;
            }

            del {
                color: #6CC2AB;
                font-size: 30px;
                font-weight: 600;
            }
        }

        .modal-cateogry {
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 1px solid #e1e6ff;
            border-bottom: 1px solid #e1e6ff;
            margin-bottom: 10px;

            ul {
                list-style: none;

                li {
                    font-weight: 400;
                    font-size: 14px;

                    span {
                        font-size: 16px;
                        padding-left: 5px;

                        a {
                            font-weight: 600;
                            color: rgb(92, 114, 125);
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .plus-minus {
            ul {
                list-style: none;

                li {
                    display: inline-block;

                    .sub {
                        border: 2px solid #dee2e6;
                        border-radius: 0px;
                        height: 40px;
                        box-shadow: none;
                    }

                    .add {
                        border: 2px solid #dee2e6;
                        box-shadow: none;
                        border-radius: 0px;
                        height: 40px;
                    }

                    input {
                        height: 40px;
                        width: 50px;
                        border-radius: 0px;
                        border: 2px solid #dee2e6;
                        text-align: center;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                li {
                    .cart-button {
                        margin-left: 15px;
                        height: 40px;
                        width: 180px;
                        padding: 5px;
                        background-color: #0a9a73;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top: 1px solid transparent;
                        border-left: 2px solid transparent;
                        border-right: 2px solid transparent;
                        border-bottom: 2px solid transparent;

                        a {
                            text-decoration: none;
                            color: white;

                            padding: 10px;
                        }

                        &:hover {
                            background-color: white;
                            border-top: 1px solid #000;
                            border-left: 2px solid #000;
                            border-right: 2px solid #000;
                            border-bottom: 2px solid #000;
                        }

                        &:hover a {
                            color: #000;
                        }
                    }
                }
            }

            .whislists {
                i {
                    font-size: 14px;
                    color: rgb(92, 114, 125);

                }

                span {
                    font-size: 14px;
                    color: rgb(92, 114, 125);
                    font-weight: 600;

                    &:hover {
                        color: #0a9a73;
                    }
                }
            }

            hr {
                margin-top: 20px;
                margin-bottom: 20px;
                color: rgb(198, 213, 221);
                height: 2px;
            }

            .social-meadia-icons {
                ul {
                    list-style: none;

                    li {
                        font-size: 16px;
                        color: rgb(92, 114, 125);
                        display: inline-block;
                        font-weight: 400;
                        margin-left: 10px;

                        i {
                            font-size: 14px;

                            &:hover {
                                color: #0a9a73;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width:576px) {
        .modal-stars {
            margin-top: 10px !important;
        }

        .nav-item {
            margin-left: 8px;
            margin-right: 8px;

            &:after {
                left: 117px;
                top: 10px;
            }
        }

        .nav-item2 {
            &:after {
                left: 88px;
                top: 10px;
            }
        }

        .nav-item3 {
            &:after {
                left: 113px;
                top: 10px;
            }
        }


        .nav-item4 {
            &:after {
                left: 106px;
                top: 10px;
            }
        }

        .nav-link {
            font-size: 12px !important;
        }
    }

    @media (max-width:768px) {
        .cart-button {
            margin-left: 0px !important;
            margin-top: 10px;
        }

        .whish1 {
            span {
                font-size: 10px !important;
            }
        }

        .whish2 {
            margin-left: 1rem !important;
        }

        .nav-item {
            margin-left: 7px;
            margin-right: 7px;
        }
    }



}


.offer {
    background-image: url('../images/27.jpg');
    background-position: center;
    background-size: cover;
    font-family: 'Nunito Sans', sans-serif;
    margin-bottom: 70px;
    padding-top: 150px;
    padding-bottom: 150px;

    .offer-content {
        .todayoffer {
            font-family: 'josefinSans-Regular';
            font-size: 16px;
            font-weight: 700;
            color: #0a9a73;
        }

        h1 {
            font-family: 'josefinSans-Regular';
            font-size: 44px;
            font-weight: 700;
            line-height: 1.3;
        }

        p {
            color: #5c727d;
            font-size: 16px;
            font-weight: 400;
        }

        ul {
            padding-left: 0px;
        }

        li {
            display: inline-block;
            font-size: 16px;
            list-style-type: none;
            text-transform: uppercase;
            text-align: center;
            padding: 10px;
            color: #5c727d;
        }

        li span {
            display: block;
            font-size: 24px;
            font-weight: bold;
            background-color: white;
            color: #0a9a73;
            text-align: center;
            margin-bottom: 12px;
            padding-left: 25px;
            padding-right: 25px;
            padding-top: 20px;
            padding-bottom: 20px;
        }


        @media all and (max-width: 768px) {
            h1 {
                font-size: calc(1.5rem * var(--smaller));
            }

            li {
                font-size: calc(1.125rem * var(--smaller));
            }

            li span {
                font-size: calc(3.375rem * var(--smaller));
            }

            li span {
                display: block;
                font-size: 16px;
                font-weight: bold;
                background-color: white;
                color: #0a9a73;
                text-align: center;
                margin-bottom: 12px;
                padding-left: 20px !important;
                padding-right: 20px !important;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        @media (min-width:768.5px) and (max-width:1024px) {
            li span {
                display: block;
                font-size: 24px;
                font-weight: bold;
                background-color: white;
                color: #0a9a73;
                text-align: center;
                margin-bottom: 12px;
                padding-left: 20px !important;
                padding-right: 20px !important;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        }

        .offer-button {
            margin-top: 60px;

            .shop-now {
                text-decoration: none;
                color: white;
                background-color: #0a9a73;
                padding: 15px;
                font-size: 16px;
                text-transform: uppercase;
                border: 2px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    border: 2px solid #000;
                    border-bottom: 1px solid #000;
                    background-position: left bottom;
                    color: #000;
                    transition: 1s;
                    background: linear-gradient(to right, black 50%, white 50%);
                    background-size: 200% 100%;
                    background-position: right bottom;
                    transition: all .5s ease-out;
                }
            }

            a {
                color: #0a9a73;
                font-size: 18px;
                margin-left: 10px;
            }
        }
    }
}





.selling-products {
    margin-bottom: 100px;

    .section-title {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 40px;
        line-height: 1.3;
        font-family: 'josefinSans-Regular';
    }

    .card-border {
        border: 2px solid #f6f6f6;

        .stars {
            color: #ffb800;
            font-size: 12px;

            i {
                &:hover {
                    color: #0a9a73;
                }
            }

            span {
                &:hover {

                    color: #0a9a73;
                }
            }
        }

        .product-tittle {
            font-family: 'josefinSans-Regular';

            a {
                text-decoration: none;
                color: #000;
                font-size: 16px;
                font-weight: 700;
                line-height: 10px;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .product-price {
            margin-bottom: 15px;

            ins {
                text-decoration: none !important;
                font-size: 14px;
                font-weight: 700;
                color: #0a9a73;
            }

            del {
                font-size: 13px;
                font-weight: 700;
                color: #6CC2AB;
            }
        }

        .badge {
            background-color: #0a9a73;
            color: white;
            font-size: 14px;
            font-weight: 700;
        }

        .badge-position {
            top: 20px;
            right: 20px
        }

        &:hover {
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
        }







        .btn-eye {
            position: relative;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }

        .btn-shoping {
            position: relative;
            left: 0%;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;
            border-left: 1px solid rgb(203, 216, 223);

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }


        .btn-heart {
            position: relative;
            left: 0%;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;
            border-left: 1px solid rgb(203, 216, 223);

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }

        .btn-position {
            top: -60px !important;

        }

        .btn-hover {
            display: none !important;
        }

        &:hover .btn-hover {
            display: flex !important;
        }

        .modal-header {
            border-bottom: transparent !important;
        }

        .modal-footer {
            border-top: transparent !important;
        }

        .custom-modal-content {
            h5 {
                font-size: 18px;
                font-weight: 700;
                font-family: 'josefinSans-Regular';
                margin-bottom: 15px;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }

        .cart {
            margin-bottom: 15px;

            i {
                color: #0a9a73;
            }

            span {
                color: rgb(92, 114, 125);
                font-size: 16px;
                font-weight: 600;
            }
        }

        .cart-button {
            font-family: 'josefinSans-Regular';

            .btn-view {
                background-color: #0a9a73;
                color: white;
                border-top: 2px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    transition: 1s;
                    background-color: white;
                    border-top: 2px solid #000;
                    border-left: 1px solid #000;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                    color: #000;
                }
            }

            .btn-checkout {
                background-color: #000;
                color: white;
                border-top: 2px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    transition: 1s;
                    background-color: white;
                    border-top: 2px solid #0a9a73;
                    border-left: 1px solid #0a9a73;
                    border-right: 1px solid #0a9a73;
                    border-bottom: 1px solid #0a9a73;
                    color: #0a9a73;
                }
            }
        }

        .btn-close {
            background-color: #5c727d;
            border-radius: 0px !important;
        }

        .modal-stars {
            font-size: 12px;
            color: #ffb800;
            margin-bottom: 10px;

            i {
                &:hover {
                    color: #0a9a73;
                }
            }

            span {
                color: #ffb800;
                font-size: 12px;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .digital {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .product-price1 {
            margin-bottom: 10px;

            .price1 {
                color: #0a9a73;
                text-decoration: none;
                font-size: 40px;
                font-weight: 600;
            }

            del {
                color: #6CC2AB;
                font-size: 30px;
                font-weight: 600;
            }
        }

        .modal-cateogry {
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 1px solid #e1e6ff;
            border-bottom: 1px solid #e1e6ff;
            margin-bottom: 10px;

            ul {
                list-style: none;

                li {
                    font-weight: 400;
                    font-size: 14px;

                    span {
                        font-size: 16px;
                        padding-left: 5px;

                        a {
                            font-weight: 600;
                            color: rgb(92, 114, 125);
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .plus-minus {
            ul {
                list-style: none;

                li {
                    display: inline-block;

                    .sub {
                        border: 2px solid #dee2e6;
                        border-radius: 0px;
                        height: 40px;
                        box-shadow: none;
                    }

                    .add {
                        border: 2px solid #dee2e6;
                        box-shadow: none;
                        border-radius: 0px;
                        height: 40px;
                    }

                    input {
                        height: 40px;
                        width: 50px;
                        border-radius: 0px;
                        border: 2px solid #dee2e6;
                        text-align: center;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                li {
                    .cart-button {
                        margin-left: 15px;
                        height: 40px;
                        width: 180px;
                        padding: 5px;
                        background-color: #0a9a73;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top: 1px solid transparent;
                        border-left: 2px solid transparent;
                        border-right: 2px solid transparent;
                        border-bottom: 2px solid transparent;

                        a {
                            text-decoration: none;
                            color: white;

                            padding: 10px;
                        }

                        &:hover {
                            background-color: white;
                            border-top: 1px solid #000;
                            border-left: 2px solid #000;
                            border-right: 2px solid #000;
                            border-bottom: 2px solid #000;
                        }

                        &:hover a {
                            color: #000;
                        }
                    }
                }
            }

            .whislists {
                i {
                    font-size: 14px;
                    color: rgb(92, 114, 125);

                }

                span {
                    font-size: 14px;
                    color: rgb(92, 114, 125);
                    font-weight: 600;

                    &:hover {
                        color: #0a9a73;
                    }
                }
            }

            hr {
                margin-top: 20px;
                margin-bottom: 20px;
                color: rgb(198, 213, 221);
                height: 2px;
            }

            .social-meadia-icons {
                ul {
                    list-style: none;

                    li {
                        font-size: 16px;
                        color: rgb(92, 114, 125);
                        display: inline-block;
                        font-weight: 400;
                        margin-left: 10px;

                        i {
                            font-size: 14px;

                            &:hover {
                                color: #0a9a73;
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width:576px) {
        .modal-stars {
            margin-top: 10px !important;
        }
    }

    @media (max-width:768px) {
        .cart-button {
            margin-left: 0px !important;
            margin-top: 10px;
        }

        .whish1 {
            span {
                font-size: 10px !important;
            }
        }

        .whish2 {
            margin-left: 1rem !important;
        }
    }
}





.feature-posts {
    background-color: #f2f6f7;
    padding-top: 90px;
    padding-bottom: 90px;

    .section-title {
        font-size: 50px;
        font-weight: 700;
        margin-bottom: 40px;
        line-height: 1.3;
        font-family: 'josefinSans-Regular';
    }

    .feature-card {
        border: 2px solid #e5eaee;

        .stars-feature {
            font-size: 12px;
            color: #ffb800;
            line-height: 30px;

            i {
                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .product-titlle {
            font-family: 'josefinSans-Regular';

            a {
                font-size: 16px;
                font-weight: 700;
                text-decoration: none;
                color: #000;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .product-price {
            ins {
                color: #0a9a73;
                text-decoration: none;
                font-size: 16px;
                font-weight: 700;
            }

            del {
                color: #6CC2AB;
                font-size: 14px;
                font-weight: 500;
            }
        }

        &:hover {
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 2px solid transparent;
        }
    }

    @media (max-width:768px) {
        .media-display {
            display: block !important;
        }

        .stars-feature {
            text-align: center;
            margin-top: 10px;
        }

        .product-titlle {
            text-align: center;
        }

        .product-price {
            text-align: center;
        }
    }
}


.video {
    position: relative;
    z-index: 1;
    top: 100px;

    .bg-image {
        background-image: url('../images/15.jpg');
        background-position: center center;
        background-size: cover;
        height: 600px;
    }

    .play-button {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;

        a {
            outline-offset: 15px;
            outline: 4px solid #e4ecf2;
            margin: 20px;
            background-color: white;
            height: 80px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            text-decoration: none;

            i {
                color: #0a9a73;
            }

            &:hover {
                outline: 4px solid #0A9A73;
                ;
            }
        }
    }
}


.testmonial {
    padding-top: 200px;
    padding-bottom: 140px;
    background-color: #F2F6F7;
    position: relative;
    margin-bottom: 70px;

    .testmonial-content {
        margin-bottom: 40px;
        font-family: 'josefinSans-Regular';

        h6 {
            font-size: 16px;
            color: #0a9a73;
            font-weight: 600;
        }

        h1 {
            font-size: 44px;
            font-weight: 700;
            margin-bottom: 15px;
            line-height: 1.3;
        }

        span {
            font-size: 10px;
            color: #0a9a73;
            margin-left: 5px;
        }
    }

    .testmonial-shadow {
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1) !important;
        padding: 40px !important;

        .testmonial-info {
            position: relative !important;
            z-index: 9999 !important;

            .testmonial-para {
                font-size: 14px;
                font-weight: 400;
                color: rgb(92, 114, 125);
            }

            h4 {
                font-family: 'josefinSans-Regular';
                font-size: 18px;
                font-weight: 700;
                color: #000;
            }

            h6 {
                font-family: 'josefinSans-Regular';
                font-size: 16px;
                font-weight: 700;
                color: #0a9a73;
            }

            .cmnt {
                position: absolute;
                top: 55%;
                z-index: -1;
                left: 60%;

                img {
                    width: 180px;
                    filter: grayscale(100%) !important;
                    opacity: 0.1;
                }
            }
        }
    }

    @media (max-width:576px) {
        .testmonial-shadow {
            padding: 10px !important;
        }
    }

}


.blogs {
    margin-bottom: 70px;
    font-family: 'Nunito Sans', sans-serif;

    .blog-content {
        font-family: 'josefinSans-Regular';
        margin-bottom: 40px;

        h6 {
            font-size: 16px;
            color: #0a9a73;
            font-weight: 600;
        }

        h1 {
            font-size: 44px;
            font-weight: 700;
            margin-bottom: 15px;
            line-height: 1.3;
        }
    }

    .card-hover {
        overflow: hidden;
        box-shadow: 0 5px 20px 0 rgba(23, 44, 82, 0.1) !important;

        .blog-image {
            overflow: hidden;
        }

        .blog-image1 {
            transition: transform 2s;
        }

        .blogcard-content {
            padding: 30px;

            ul {
                list-style: none;

                li {
                    position: relative;
                    display: inline-block;
                    margin-right: 15px;
                    font-size: 14px;
                    font-weight: 600;

                    a {
                        text-decoration: none;

                        i {
                            color: #0a9a73;
                        }

                        span {
                            color: #5c727d;

                            &:hover {
                                color: #0a9a73;
                            }
                        }
                    }

                }
            }

            .main-tittle {
                margin-bottom: 20px;
                font-size: 22px;
                padding-bottom: 25px;
                font-weight: 600;
                border-bottom: 1px solid #e5eaee;
                font-family: 'josefinSans-Reular';

                a {
                    text-decoration: none;
                    color: #000;
                }
            }

            .footer {
                display: flex;
                justify-content: space-between;

                .footer-left {
                    font-family: 'Nunito Sans', sans-serif;

                    ul {
                        li {
                            i {
                                color: #0a9a73;
                            }

                            span {
                                color: #5c727d;
                                font-size: 14px;
                                font-weight: 700 !important;
                            }
                        }
                    }
                }

                .footer-right {
                    font-family: 'Nunito Sans', sans-serif;

                    ul {
                        li {
                            a {
                                font-size: 14px;
                                font-weight: 700 !important;
                                color: #0a9a73;
                            }
                        }
                    }
                }
            }
        }

        &:hover .blog-image1 {
            transform: scale(1.1);
        }
    }
}



.explore {
    position: relative;
    top: 80px;

    .explore-box {
        font-family: 'josefinSans-Regular';
        background-color: #0A9A73;
        padding: 50px 60px;
        color: white;

        .explore-headig {
            h1 {
                font-size: 36px;
                font-weight: 700;
                font-family: 'josefinSans-Reular';
            }
        }
    }

    .explore-button {
        background: linear-gradient(to right, black 50%, white 50%);
        width: 245px;
        padding: 22px;
        border: 1px solid transparent;
        background-position: right bottom;
        transition: all .5s ease-out;
        background-size: 200% 100%;

        a {
            font-family: 'josefinSans-Regular';
            text-decoration: none;
            color: #000;
            font-size: 16px;
        }

        &:hover {
            background-position: left bottom;
            // transition: 1s;
            // background-color: #000;
            // border: 1px solid #81f1d3;
            // box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28) !important;
        }

        &:hover a {
            transition: 1s;
            color: white;
        }
    }

    @media (max-width:576px) {
        .explore-main {
            display: block !important;
        }

        .explore-heading1 {
            font-size: 30px !important;
            margin-bottom: 25px;
        }
    }

    @media (min-width:576.5px) and (max-width:768px) {
        .explore-heading1 {
            font-size: 25px !important;
            margin-bottom: 25px;
        }
    }
}

.footer-2 {
    padding-top: 130px;
    padding-bottom: 20px;
    background-color: #171B2A;
    font-family: 'Nunito Sans', sans-serif;

    .logo-content {
        p {
            font-size: 16px;
            color: white;
            line-height: 25px;
        }

        ul {
            list-style: none;

            i {
                color: white;
                font-size: 14px;
            }

            span {
                color: white;
                font-size: 16px;
                font-weight: 400;
            }
        }

    }

    .compmay {
        font-size: 22px;
        color: white;


        .company {
            font-size: 22px;
            font-weight: 600;
            font-family: 'josefinSans-Reular';
        }

        ul {
            list-style: none;

            li {
                line-height: 35px;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 16px;
                    font-weight: 400;

                    &:hover {
                        color: #0a9a73;

                        &::before {
                            content: '//';
                            margin-right: 5px;
                        }
                    }
                }
            }
        }

        .subscribe {
            font-size: 16px;
            font-weight: 400;
            font-family: 'Nunito Sans', sans-serif;
        }

        .form-control {
            border: 2px solid #e4ecf2;

            &::placeholder {
                font-family: 'Nunito Sans', sans-serif;
            }
        }

        .input-group-text {
            background-color: #0a9a73 !important;
            color: white !important;
        }

        .payement {
            margin-top: 25px;
            margin-bottom: 25px;

            h5 {
                font-family: 'josefinSans-Regular';
                font-size: 18px;
                font-weight: 600;
            }
        }
    }

    .circle {
        height: 40px;
        width: 40px;
        // border-radius: 50%;

        opacity: 0.5;
        box-shadow: 0 1px 6px 0 rgba(32, 33, 36, .28);
        display: inline-block;
        text-align: center;
        position: fixed;
        bottom: 30px;
        transform: rotate(45deg);
        background-color: #F2F6F7;
        visibility: hidden;
        right: 10px;
        z-index: 1000;
        &:hover{
            background-color: #0A9A73 !important;
            color: white;
        }
    }

    @media (max-width:576.5px) {
        .circle {
            display: none;
        }
    }

    #button.show {
        opacity: 1;
        visibility: visible;
    }

    .angle {
        opacity: 1 !important;
        content: "\f106";
        position: relative;
        height: 100%;
        font-size: 18px;
        color: #000 !important;
        transform: rotate(-45deg);
        display: flex;
        align-items: center;
        justify-content: center;
        border: 0px !important;
    }
}



.privacy {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #282B38;

    .privacy-list {
        ul {
            list-style-type: none;

            li {
                display: inline-flex;
                align-items: center;
                margin-right: 20px;

                a {
                    text-decoration: none;
                    color: white;
                    font-size: 14px;
                    font-weight: 600;

                    &:hover {
                        color: #0a9a73;
                        transition: 1s;
                    }
                }
            }
        }
    }

    .all-right {
        color: white;
        font-size: 16px;
        font-weight: 700;
    }
}












.main-shop {
    background-image: url('../images/14.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 130px;
    padding-bottom: 130px;
    margin-bottom: 120px;

    .main-shop-heading {
        font-family: 'josefinSans-Regular';
        font-size: 36px;
        font-weight: 700;

    }

    .breadcrumb {
        .breadcrumb-item {
            font-size: 16px;
            color: #000;
            font-weight: 700;

            a {
                font-size: 16px;
                color: #5c727d;
                text-decoration: none;
                font-weight: 700;

                &:hover {
                    transition: 1s;
                    color: #0a9a73;
                }
            }

            i {
                color: #0a9a73;
            }
        }
    }

    .breadcrumb-item1 {
        &::before {
            content: '\f105';
            display: inline-block;
            font-weight: 900;
            font-family: "Font Awesome 5 Free";
            font-size: 14px;
            position: relative;
            top: 4px;
        }
    }
}


.shoping-card {
    .grid-row {
        margin-bottom: 50px;

        .shop-list {
            display: flex;
            align-items: center;
            list-style-type: none;
            justify-content: space-between;

            .shop-item {
                a {
                    font-size: 24px;
                    color: #0a9a73;

                    .bar2 {
                        color: #5c727d;

                        &:hover {
                            color: #0a9a73;
                        }
                    }
                }

            }

            .shop-dropdown {
                background-color: white;
                color: rgb(92, 114, 125);
                border: 2px solid #dee2e6;
                font-weight: 700;
                padding-left: 10px;
                padding-right: 50px;
            }

            .dropdown-toggle {
                &::after {
                    border: none;
                    content: "\f107";
                    font-family: "Font Awesome 5 Free";
                    display: inline-block;
                    font-weight: 900;
                    top: 15px;
                    right: 15px;
                    position: absolute;
                    font-size: 10px;
                }
            }

            .poroduct-number {
                span {
                    font-family: 'josefinSans-Reular';
                    font-size: 16px;
                    font-weight: 600;
                    color: rgb(92, 114, 125);
                }
            }
        }
    }


    .card-border {
        border: 2px solid #f6f6f6;

        .stars-products {
            font-size: 12px;
            color: #ffb800;
            margin-bottom: 5px;

            i {
                &:hover {
                    color: #0a9a73;
                }
            }

            span {
                font-size: 12px;
                color: #ffb800;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .product-tittle {
            font-family: 'josefinSans-Regular';
            font-size: 16px;
            font-weight: 700;
            margin-bottom: 5px;

            a {
                text-decoration: none;
                color: #000;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .product-price {
            color: #0a9a73;
            font-size: 16px;
            font-weight: 700;
            text-align: center;
            margin-bottom: 20px;

            ins {
                text-decoration: none;
            }

            del {
                font-size: 13px;
                color: #6CC2AB;
                font-weight: 700;
            }
        }

        &:hover {
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
        }

        .badge {
            right: 15px;
            top: 15px;
            background-color: #0a9a73;
            color: white;
            padding: 10px;
            padding-left: 13px;
            padding-right: 13px;
            font-size: 14px;
            font-weight: bold;
        }

        .btn-eye {
            position: relative;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }

        .btn-shoping {
            position: relative;
            left: 0%;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;
            border-left: 1px solid rgb(203, 216, 223);

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }


        .btn-heart {
            position: relative;
            left: 0%;
            background-color: white !important;
            box-shadow: 0 16px 32px 0 rgba(7, 28, 31, 0.1);
            border: 1px solid transparent;
            border-left: 1px solid rgb(203, 216, 223);

            i {
                color: rgb(92, 114, 125);
            }

            &:hover {
                background-color: #0a9a73 !important;
            }

            &:hover i {
                color: white;
            }
        }

        .btn-position {
            top: -60px !important;

        }

        .btn-hover {
            display: none !important;
        }

        &:hover .btn-hover {
            display: flex !important;
        }

        .modal-header {
            border-bottom: transparent !important;
        }

        .modal-footer {
            border-top: transparent !important;
        }

        .custom-modal-content {
            h5 {
                font-size: 18px;
                font-weight: 700;
                font-family: 'josefinSans-Regular';
                margin-bottom: 15px;

                a {
                    text-decoration: none;
                    color: #000;
                }
            }
        }

        .cart {
            margin-bottom: 15px;

            i {
                color: #0a9a73;
            }

            span {
                color: rgb(92, 114, 125);
                font-size: 16px;
                font-weight: 600;
            }
        }

        .cart-button {
            font-family: 'josefinSans-Regular';

            .btn-view {
                background-color: #0a9a73;
                color: white;
                border-top: 2px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    transition: 1s;
                    background-color: white;
                    border-top: 2px solid #000;
                    border-left: 1px solid #000;
                    border-right: 1px solid #000;
                    border-bottom: 1px solid #000;
                    color: #000;
                }
            }

            .btn-checkout {
                background-color: #000;
                color: white;
                border-top: 2px solid transparent;
                border-left: 1px solid transparent;
                border-right: 1px solid transparent;
                border-bottom: 1px solid transparent;

                &:hover {
                    transition: 1s;
                    background-color: white;
                    border-top: 2px solid #0a9a73;
                    border-left: 1px solid #0a9a73;
                    border-right: 1px solid #0a9a73;
                    border-bottom: 1px solid #0a9a73;
                    color: #0a9a73;
                }
            }
        }

        .btn-close {
            background-color: #5c727d;
            border-radius: 0px !important;
        }

        .modal-stars {
            font-size: 12px;
            color: #ffb800;
            margin-bottom: 10px;

            i {
                &:hover {
                    color: #0a9a73;
                }
            }

            span {
                color: #ffb800;
                font-size: 12px;

                &:hover {
                    color: #0a9a73;
                }
            }
        }

        .digital {
            font-size: 24px;
            margin-bottom: 10px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        .product-price1 {
            margin-bottom: 10px;

            .price1 {
                color: #0a9a73;
                text-decoration: none;
                font-size: 40px;
                font-weight: 600;
            }

            del {
                color: #6CC2AB;
                font-size: 30px;
                font-weight: 600;
            }
        }

        .modal-cateogry {
            padding-top: 15px;
            padding-bottom: 15px;
            border-top: 1px solid #e1e6ff;
            border-bottom: 1px solid #e1e6ff;
            margin-bottom: 10px;

            ul {
                list-style: none;

                li {
                    font-weight: 400;
                    font-size: 14px;

                    span {
                        font-size: 16px;
                        padding-left: 5px;

                        a {
                            font-weight: 600;
                            color: rgb(92, 114, 125);
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .plus-minus {
            ul {
                list-style: none;

                li {
                    display: inline-block;

                    .sub {
                        border: 2px solid #dee2e6;
                        border-radius: 0px;
                        height: 40px;
                        box-shadow: none;
                    }

                    .add {
                        border: 2px solid #dee2e6;
                        box-shadow: none;
                        border-radius: 0px;
                        height: 40px;
                    }

                    input {
                        height: 40px;
                        width: 50px;
                        border-radius: 0px;
                        border: 2px solid #dee2e6;
                        text-align: center;

                        &:focus {
                            outline: none;
                        }
                    }
                }

                li {
                    .cart-button {
                        margin-left: 15px;
                        height: 40px;
                        width: 180px;
                        padding: 5px;
                        background-color: #0a9a73;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-top: 1px solid transparent;
                        border-left: 2px solid transparent;
                        border-right: 2px solid transparent;
                        border-bottom: 2px solid transparent;

                        a {
                            text-decoration: none;
                            color: white;

                            padding: 10px;
                        }

                        &:hover {
                            background-color: white;
                            border-top: 1px solid #000;
                            border-left: 2px solid #000;
                            border-right: 2px solid #000;
                            border-bottom: 2px solid #000;
                        }

                        &:hover a {
                            color: #000;
                        }
                    }
                }
            }

            .whislists {
                i {
                    font-size: 14px;
                    color: rgb(92, 114, 125);

                }

                span {
                    font-size: 14px;
                    color: rgb(92, 114, 125);
                    font-weight: 600;

                    &:hover {
                        color: #0a9a73;
                    }
                }
            }

            hr {
                margin-top: 20px;
                margin-bottom: 20px;
                color: rgb(198, 213, 221);
                height: 2px;
            }

            .social-meadia-icons {
                ul {
                    list-style: none;

                    li {
                        font-size: 16px;
                        color: rgb(92, 114, 125);
                        display: inline-block;
                        font-weight: 400;
                        margin-left: 10px;

                        i {
                            font-size: 14px;

                            &:hover {
                                color: #0a9a73;
                            }
                        }
                    }
                }
            }
        }

        .information {
            padding: 25px 30px 15px;
            ;
        }
    }

    @media (max-width:576px) {
        .modal-stars {
            margin-top: 10px !important;
        }

        .nav-item {
            margin-left: 8px;
            margin-right: 8px;

            &:after {
                left: 117px;
                top: 10px;
            }
        }

        .nav-item2 {
            &:after {
                left: 88px;
                top: 10px;
            }
        }

        .nav-item3 {
            &:after {
                left: 113px;
                top: 10px;
            }
        }


        .nav-item4 {
            &:after {
                left: 106px;
                top: 10px;
            }
        }

        .nav-link {
            font-size: 12px !important;
        }
    }

    @media (max-width:768px) {
        .cart-button {
            margin-left: 0px !important;
            margin-top: 10px;
        }

        .whish1 {
            span {
                font-size: 10px !important;
            }
        }

        .whish2 {
            margin-left: 1rem !important;
        }

        .nav-item {
            margin-left: 7px;
            margin-right: 7px;
        }
    }

    @media (max-width:576px) {
        .shop-list {
            display: block !important;
        }

        .dropdown-toggle {
            &::after {
                left: 30px !important;
            }
        }

        .poroduct-number {
            margin-top: 10px;
            margin-bottom: 10px;
        }
    }

    .dropdown-menu-shop {
        width: 180px;
    }

    .dropdown-item {
        color: rgb(92, 114, 125);
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 8px;
        padding-left: 10px;
        padding-right: 5px;

        &:hover {
            background-color: #f6f6f6;
            font-weight: 400;
        }
    }

    .dropdown-item-1 {
        font-weight: 600;
        color: rgb(92, 114, 125);
        font-size: 14px;

        &:hover {
            // background-color: #f6f6f6;
            font-weight: 600;
        }
    }

    .card-shop {
        border: 2px solid #ededed;
        padding: 35px 20px 40px 20px;
        margin-bottom: 40px;

        .card-heading1 {
            font-family: 'josefinSans-Reular';
            padding-left: 45px;
            font-weight: 600;

            h4 {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 25px;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 4px;
                    border-radius: 25px;
                    background-color: #0A9A73;
                    top: 10px;
                    left: -46px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    top: 10px;
                    left: -22px;
                    border-radius: 50%;
                    background-color: #0A9A73;
                }
            }
        }

        .card-list {
            ul {
                list-style-type: none;

                li {
                    margin-top: 15px;

                    a {
                        font-size: 14px;
                        font-weight: 700;
                        color: rgb(92, 114, 125);
                        text-decoration: none;

                        &:hover {
                            color: #0A9A73;
                        }
                    }
                }
            }
        }
    }


    .card-price {
        border: 2px solid #ededed;
        padding: 35px 20px 40px 20px;
        margin-bottom: 40px;

        .price-heading {
            font-family: 'josefinSans-Reular';
            padding-left: 45px;
            font-weight: 600;
            margin-bottom: 25px;

            h4 {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 25px;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 4px;
                    border-radius: 25px;
                    background-color: #0A9A73;
                    top: 10px;
                    left: -46px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    top: 10px;
                    left: -22px;
                    border-radius: 50%;
                    background-color: #0A9A73;
                }
            }
        }

        .price-rang {
            .range-slider {
                width: 300px;
                text-align: center;
                position: relative;

                .rangeValues {
                    display: block;
                }
            }

            input[type=range] {
                -webkit-appearance: none;
                border: 1px solid white;
                width: 300px;
                position: absolute;
                left: 0;
            }

            input[type=range]::-webkit-slider-runnable-track {
                width: 300px;
                height: 5px;
                background: #0A9A73;
                border: none;
                border-radius: 3px;

            }

            input[type=range]::-webkit-slider-thumb {
                -webkit-appearance: none;
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: #0A9A73;
                margin-top: -4px;
                cursor: pointer;
                position: relative;
                z-index: 1;
            }

            input[type=range]:focus {
                outline: none;
            }

            input[type=range]:focus::-webkit-slider-runnable-track {
                background: #0A9A73;
            }

            input[type=range]::-moz-range-track {
                width: 300px;
                height: 5px;
                background: #000;
                border: none;
                border-radius: 3px;
            }

            input[type=range]::-moz-range-thumb {
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: #0A9A73;

            }


            /*hide the outline behind the border*/

            input[type=range]:-moz-focusring {
                outline: 1px solid white;
                outline-offset: -1px;
            }

            input[type=range]::-ms-track {
                width: 300px;
                height: 5px;
                /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
                background: #0A9A73;
                /*leave room for the larger thumb to overflow with a transparent border */
                border-color: #0A9A73;
                border-width: 6px 0;
                /*remove default tick marks*/
                color: transparent;
                z-index: -4;

            }

            input[type=range]::-ms-fill-lower {
                background: #000;
                border-radius: 10px;
            }

            input[type=range]::-ms-fill-upper {
                background: #0A9A73;
                border-radius: 10px;
            }

            input[type=range]::-ms-thumb {
                border: none;
                height: 16px;
                width: 16px;
                border-radius: 50%;
                background: #21c1ff;
            }

            input[type=range]:focus::-ms-fill-lower {
                background: #000;
            }

            input[type=range]:focus::-ms-fill-upper {
                background: #0A9A73;
            }

            .form-label {
                color: rgb(92, 114, 125);
            }

            .price {
                font-weight: 700;
                color: rgb(92, 114, 125);
            }
        }
    }


    .top-rated-product {
        border: 2px solid #ededed;
        padding: 35px 20px 40px 20px;
        margin-bottom: 40px;

        .toprated-heading {
            font-family: 'josefinSans-Reular';
            padding-left: 45px;
            font-weight: 600;
            margin-bottom: 25px;

            h4 {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 25px;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 4px;
                    border-radius: 25px;
                    background-color: #0A9A73;
                    top: 10px;
                    left: -46px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    top: 10px;
                    left: -22px;
                    border-radius: 50%;
                    background-color: #0A9A73;
                }
            }
        }

        .top-rate-list {
            .top-rated-stars {
                color: #ffb800;
                font-size: 10px;
                font-weight: 900;

                i {
                    &:hover {
                        color: #0A9A73;
                    }
                }
            }

            .products-name {
                a {
                    text-decoration: none;
                    color: #000;
                    font-family: 'josefinSans-Reular';
                    font-size: 14px;
                    font-weight: 900;

                    &:hover {
                        color: #0A9A73;
                    }
                }
            }

            .products-price {
                ins {
                    text-decoration: none;
                    color: #0A9A73;
                    font-size: 14px;
                    font-weight: 700;
                }

                del {
                    color: #6CC2AB;
                    font-size: 11px;
                    font-weight: 700;
                }
            }

            .custom-border-bottom {
                border-bottom: 1px solid #e6ecf0;
                padding-bottom: 30px;
                margin-bottom: 30px;
            }



            .custom-border-bottom-1 {
                // border-bottom: 1px solid #e6ecf0;
                // padding-bottom: 30px;
                margin-bottom: 30px;
            }

        }
    }

    .card-search {
        border: 2px solid #ededed;
        padding: 35px 20px 40px 20px;
        margin-bottom: 40px;

        .search-object {
            font-family: 'josefinSans-Reular';
            padding-left: 45px;
            font-weight: 600;
            margin-bottom: 25px;

            h4 {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 25px;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 4px;
                    border-radius: 25px;
                    background-color: #0A9A73;
                    top: 10px;
                    left: -46px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    top: 10px;
                    left: -22px;
                    border-radius: 50%;
                    background-color: #0A9A73;
                }
            }
        }

        .input-group-text {
            width: 70px;
            border-radius: 0px;
            background-color: #0A9A73;
            color: white;
            text-align: center;
        }

        .form-control {
            border: 2px solid #ededed;
            border-radius: 0px;
            background-color: #f2f6f7;

            &::placeholder {
                color: #000;
                font-weight: 700;
                font-size: 10px;
            }
        }
    }


    .card-popular {
        border: 2px solid #ededed;
        padding: 35px 20px 40px 20px;
        margin-bottom: 40px;

        .popular-tags {
            font-family: 'josefinSans-Reular';
            padding-left: 45px;
            font-weight: 600;
            margin-bottom: 25px;

            h4 {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 25px;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 4px;
                    border-radius: 25px;
                    background-color: #0A9A73;
                    top: 10px;
                    left: -46px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    top: 10px;
                    left: -22px;
                    border-radius: 50%;
                    background-color: #0A9A73;
                }
            }
        }

        .tags-row-1 {
            margin: 5px 3px;
            font-family: 'Josefin Sans', sans-serif;

            a {
                background-color: #f2f6f7;
                padding: 12px 24px 10px;
                font-size: 13px;
                text-decoration: none;
                color: rgb(92, 114, 125);
                font-size: 13px;
                font-weight: 700;

                &:hover {
                    transition: 1s;
                    background-color: #0A9A73;
                    color: white;
                }

            }
        }
    }



    .card-product-size {
        border: 2px solid #ededed;
        padding: 35px 20px 40px 20px;
        margin-bottom: 40px;

        .product-size {
            font-family: 'josefinSans-Reular';
            padding-left: 45px;
            font-weight: 600;
            margin-bottom: 25px;

            h4 {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 25px;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 4px;
                    border-radius: 25px;
                    background-color: #0A9A73;
                    top: 10px;
                    left: -46px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    top: 10px;
                    left: -22px;
                    border-radius: 50%;
                    background-color: #0A9A73;
                }
            }
        }

        .size-buttons {
            font-family: 'Josefin Sans', sans-serif;

            a {
                background-color: #f2f6f7;
                padding: 10px 18px 8px;
                font-size: 13px;
                text-decoration: none;
                color: rgb(92, 114, 125);
                font-weight: 700;

                &:hover {
                    color: white;
                    background-color: #0A9A73;
                    transition: 1s;
                }
            }

        }
    }




    .card-color {
        border: 2px solid #ededed;
        padding: 35px 20px 40px 20px;
        margin-bottom: 40px;

        .product-color {
            font-family: 'josefinSans-Reular';
            padding-left: 45px;
            font-weight: 600;
            margin-bottom: 25px;

            h4 {
                position: relative;
                font-size: 18px;
                font-weight: 600;
                margin-bottom: 25px;
                text-transform: capitalize;

                &::after {
                    position: absolute;
                    content: '';
                    width: 18px;
                    height: 4px;
                    border-radius: 25px;
                    background-color: #0A9A73;
                    top: 10px;
                    left: -46px;
                }

                &::before {
                    position: absolute;
                    content: '';
                    width: 4px;
                    height: 4px;
                    top: 10px;
                    left: -22px;
                    border-radius: 50%;
                    background-color: #0A9A73;
                }
            }

        }

        .different-colors {
            display: inline-block;

            .black {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #000;
                    width: 40px;
                    height: 22px;
                    display: block;


                }

                &:hover {
                    border: 1px solid #0A9A73;

                }
            }



            .white {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: white;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }



            .red {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #FF0000;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }



            .grey {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #808080;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }
        }




        .different-colors1 {
            display: inline-block;

            .black {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #808080;
                    ;
                    width: 40px;
                    height: 22px;
                    display: block;


                }

                &:hover {
                    border: 1px solid #0A9A73;

                }
            }



            .white {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #bc3928;
                    ;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }



            .red {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #FFFF00;
                    ;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }



            .grey {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #808000;
                    ;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }
        }





        .different-colors2 {
            display: inline-block;

            .black {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #00FF00;
                    width: 40px;
                    height: 22px;
                    display: block;


                }

                &:hover {
                    border: 1px solid #0A9A73;

                }
            }



            .white {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #77C720;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }



            .red {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #00FFFF;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }



            .grey {
                display: inline-block;
                border: 1px solid transparent;
                padding: 3px;

                a {
                    background-color: #008080;
                    width: 40px;
                    height: 22px;
                    display: block;
                }

                &:hover {
                    border: 1px solid #0A9A73;
                }
            }
        }


    }


    .banner-image {
        margin-bottom: 40px;
    }



}

.pagination-1 {
    .pagination {

        .page-item {
            padding: 10px;

            .page-link {
                border-radius: 50%;
                height: 50px;
                width: 50px;
                display: flex;
                justify-content: center;
                align-items: center;
                border: 2px solid #ededed;
                color: rgb(92, 114, 125);
                font-weight: 700;
                font-size: 16px;
                box-shadow: none !important;

                &:hover {
                    background-color: #0A9A73 !important;
                    color: white !important;
                }

                &:focus {
                    background-color: #0A9A73 !important;
                    color: white !important;
                }
            }
        }
    }
}